<!DOCTYPE html>
<html>
  <head>
    <title>gift_card</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="css/gift/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="css/gift/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="css/gift/styles.css" type="text/css" rel="stylesheet"/>
    <link href="css/gift/gift_card/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u2365" class="ax_default image">
        <img id="u2365_img" class="img " src="images/my_safe_number/u73.png"/>
        <!-- Unnamed () -->
        <div id="u2366" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2367" class="ax_default box_1">
        <img id="u2367_img" class="img " src="images/my_safe_number/u75.png"/>
        <!-- Unnamed () -->
        <div id="u2368" class="text" style="visibility: visible;">
          <p><span>买靓号 送朋友</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2369" class="ax_default label">
        <div id="u2369_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2370" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2371" class="ax_default box_2">
        <div id="u2371_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2372" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2373" class="ax_default box_2">
        <div id="u2373_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2374" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2375" class="ax_default box_2">
        <div id="u2375_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2376" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2377" class="ax_default label">
        <div id="u2377_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2378" class="text" style="visibility: visible;">
          <p><span>95号码送朋友，微信送礼新方式</span></p>
        </div>
      </div>

      <!-- Unnamed (Paragraph) -->
      <div id="u2379" class="ax_default paragraph">
        <img id="u2379_img" class="img " src="images/gift/u2240.png"/>
        <!-- Unnamed () -->
        <div id="u2380" class="text" style="visibility: visible;">
          <p><span>95号码送朋友</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2381" class="ax_default box_2">
        <div id="u2381_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2382" class="text" style="visibility: visible;">
          <p><span>送朋友</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u2383" class="ax_default image">
        <img id="u2383_img" class="img " src="images/gift/u2242.png"/>
        <!-- Unnamed () -->
        <div id="u2384" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2385" class="ax_default">

        <!-- Unnamed (Rectangle) -->
        <div id="u2386" class="ax_default box_2">
          <div id="u2386_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2387" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u2388" class="ax_default image">
          <img id="u2388_img" class="img " src="images/gift_number/u2331.png"/>
          <!-- Unnamed () -->
          <div id="u2389" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2390" class="ax_default label">
          <div id="u2390_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2391" class="text" style="visibility: visible;" onclick="window.location.href='/testChooseRegex'">
            <p><span>挑选号码卡</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2392" class="ax_default label">
          <div id="u2392_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2393" class="text" style="visibility: visible;">
            <p><span>点击这里挑选，送朋友</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2394" class="ax_default">

        <!-- Unnamed (Rectangle) -->
        <div id="u2395" class="ax_default box_2">
          <div id="u2395_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2396" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2397" class="ax_default label">
          <div id="u2397_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2398" class="text" style="visibility: visible;">
            <p><span>写祝福语</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u2399" class="ax_default text_field">
          <input id="u2399_input" type="text" value=""/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2400" class="ax_default label">
        <div id="u2400_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2401" class="text" style="visibility: visible;">
          <p><span>使用说明</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2402" class="ax_default">

        <!-- Unnamed (Rectangle) -->
        <div id="u2403" class="ax_default box_2">
          <div id="u2403_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2404" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2405" class="ax_default label">
          <div id="u2405_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2406" class="text" style="visibility: visible;">
            <p><span>现金券</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2407" class="ax_default icon">
          <img id="u2407_img" class="img " src="images/buy_safe_number/u1810.png"/>
          <!-- Unnamed () -->
          <div id="u2408" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u2409" class="ax_default line">
        <img id="u2409_img" class="img " src="images/gift_number/u2352.png"/>
        <!-- Unnamed () -->
        <div id="u2410" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Paragraph) -->
      <div id="u2411" class="ax_default paragraph">
        <img id="u2411_img" class="img " src="images/gift_number/u2354.png"/>
        <!-- Unnamed () -->
        <div id="u2412" class="text" style="visibility: visible;">
          <p style="font-size:20px;"><span style="font-size:14px;">￥ </span><span>0</span></p>
        </div>
      </div>

      <!-- wrong (Group) -->
      <div id="u2413" class="ax_default ax_default_hidden" data-label="wrong" style="display: none; visibility: hidden">

        <!-- Unnamed (Rectangle) -->
        <div id="u2414" class="ax_default box_2">
          <div id="u2414_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2415" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Paragraph) -->
        <div id="u2416" class="ax_default paragraph">
          <img id="u2416_img" class="img " src="images/gift_number/u2359.png"/>
          <!-- Unnamed () -->
          <div id="u2417" class="text" style="visibility: visible;">
            <p><span>请先选择号码</span></p>
          </div>
        </div>

        <!-- Unnamed (Paragraph) -->
        <div id="u2418" class="ax_default paragraph">
          <img id="u2418_img" class="img " src="images/gift_number/u2361.png"/>
          <!-- Unnamed () -->
          <div id="u2419" class="text" style="visibility: visible;">
            <p><span>确定</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2420" class="ax_default box_1">
        <div id="u2420_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2421" class="text" style="visibility: visible;">
          <p><span>历史记录</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
