<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="知否" />
        <title>知否</title>
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css"  th:href="@{/css/guide.css}"/>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
    </head>
    <body>
    <img th:src="@{/images/watch/1.jpg}">
    </body>     
</html>