<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="应用场景" />
        <title>应用场景</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/scene.css}" />
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
    </head>
    <body>
        <div class="wrap">

            <!--物流应用场景-->
            <div id="wuliu"></div>
            <div class="wuliu">
                <h3 class="f_wuliutitle">物流应用场景</h3>
                <h4 class="f_wuliusmalltitle">以下场景均可使用海牛助手</h4>
                <img th:src="@{/images/scene/wuliu_02.png}"/>
                 <h5 class="f_wuliuimgtitle">用户先在微信公众号申请一个海牛助手专属号/网购下单时填写海牛助手代替真实手机号</h5>
                <img   th:src="@{/images/scene/wuliu_04.png}">
                <h5 class="f_wuliuimgtitle">快递到货，快递小哥拿出手机号拨打用户申请的海牛助手专属号，收件人接到海牛助手专属号来电显示</h5>
                <img   th:src="@{/images/scene/wuliu_06.png}">
                <h5 class="f_wuliuimgtitle">快递哥将快递送到用户手中，用户收到快递同时避免了真实手机号泄露</h5>
                <img  th:src="@{/images/scene/wuliu_08.jpg}">
                <h5 class="f_wuliuimgtitle">用户发现快递有点问题，然后回拨刚刚号码海牛助手专属号，联系到快递哥，快递哥路上接到来电后接听</h5>
                <img th:src="@{/images/scene/wuliu_10.jpg}">
                <h5 class="f_wuliuimgtitle">再有人拨打海牛助手，提示已无法转接到您手机，避免了骚扰</h5>
            </div>


             <!--场景二手交易-->
            <div id="ershou"></div>
            <div class="ershou">
                <h3 class="f_wuliutitle f_wuliutitle01">二手车交易及社交场景</h3>
                <h4 class="f_wuliusmalltitle">以下场景均可使用海牛助手</h4>
                <img th:src="@{/images/scene/ershou_02.png}">
                <h5 class="f_wuliuimgtitle">买了新车想把旧车挂在二手交易市场卖掉，然后在各个平台上留下自己车的相关信息，以方便需要买车的人联系</h5>
                <img th:src="@{/images/scene/ershou_04.png}">
                <h5 class="f_wuliuimgtitle">申请安全号，用海牛助手专属号码代替真实手机号留给买家，买家需要时拨打海牛助手专属号即可联系到自己</h5>
                <img  th:src="@{/images/scene/ershou_06.png}">
                <h5 class="f_wuliuimgtitle">对方拨打海牛助手拨打到您手机上，进行业务洽谈，您的手机来电会显示买家海牛助手专属号，若有需要您可直接回拨联系对方</h5>
                <img  th:src="@{/images/scene/ershou_08.png}">
                <h5 class="f_wuliuimgtitle">当不再有业务需求时别人拨打海牛助手，提示已无法转接到您手机，避免了骚扰</h5>
            </div>


            <!--场景挪车-->
            <div id="nuoche"></div>
            <div class="nuoche">
                <h3 class="f_wuliutitle f_wuliutitle01">挪车应用场景</h3>
                <h4 class="f_wuliusmalltitle">以下场景均可使用海牛助手</h4>
                <img th:src="@{/images/scene/nuoche_02.png}">
                <h5 class="f_wuliuimgtitle">用户停好车后，下车，发现有点挡路，然后挂一个写有海牛助手专属号牌子放在车前，安心的走了</h5>
                <img th:src="@{/images/scene/nuoche_04.png}">
                <h5 class="f_wuliuimgtitle">有人开车路过发现该车挡路，然后下车发现号牌，<br>拿出手机拨打海牛助手专属号</h5>
                <img th:src="@{/images/scene/nuoche_06.png}">
                <h5 class="f_wuliuimgtitle">车主来电显示海牛助手专属号+对方真实手机号，接听知道需要挪车，然后下楼挪车</h5>
                <img th:src="@{/images/scene/nuoche_08.png}">
                <h5 class="f_wuliuimgtitle">再有人拨打海牛助手，提示已无法转接到您手机，避免了骚扰</h5>
            </div>




            <!--场景租房-->
            <div id="zufang"></div>
            <div class="zufang">
                <h3 class="f_wuliutitle f_wuliutitle01">出租/买卖房屋场景</h3>
                <h4 class="f_wuliusmalltitle">以下场景均可使用海牛助手</h4>
                <img th:src="@{/images/scene/zufang_02.png}">
                <h5 class="f_wuliuimgtitle">去房地产公司及在线出租平台上做登记出租房屋信息及联系电话，使用海牛助手登记</h5>
                <img th:src="@{/images/scene/zufang_04.png}">
                <h5 class="f_wuliuimgtitle">有房客租房，通过海牛助手专属号联系你租房，简单介绍后要求看房子</h5>
                <img th:src="@{/images/scene/zufang_06.png}">
                <h5 class="f_wuliuimgtitle">房客看房后对房子比较满意，直接签约完成</h5>
                <img th:src="@{/images/scene/zufang_08.png}">
                <h5 class="f_wuliuimgtitle">自己业务完成后，房地产公司及租房业务平台上只有自己海牛助手专属号，几天就失效，再有人拨打已无法转接到您手机，避免了骚扰</h5>
            </div>


            <!--浮动窗口-->
            <div class="f_pop">
                <ul>
                    <li>
                        <a href="#wuliu">物流</a>
                    </li>
                     <li>
                        <a href="#ershou">二手车</a>
                    </li>
                    <li>
                        <a href="#nuoche">挪车</a>
                    </li>
                     <li>
                        <a href="#zufang">租房</a>
                    </li>
                </ul>
            </div>
        </div>        
    </body>     
</html>