<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="95号送朋友" />
        <title>95号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_qrcode_top">
               <img src="images/giftImage/qrcodeimg.jpg">
           </div>
           <div class="z_activity_content">
                <p class="z_activity_title">福利码活动</p> 
                <p class="z_activitytext">
                        1、朋友领取代金券后，可获得30元代金券<br>
                        2、您将获得10积分<br>
                        3、每日分享给朋友得10积分，每日分享到朋友圈得10积分<br>
                        4、分享给朋友后，每个朋友只能领取一次福利。<br>
                        5、最终解释权归天舟通信公司所有
                </p>                                       
           </div> 
           <div class="z_activity_content z_activity_contenttwo">
                <p class="z_activity_title">好友送礼活动</p> 
                <p class="z_activitytext">
                        1、每次只能选择一个号码赠送，当他人领取后，号码将不可再次赠送。<br>
                        2、号码使用期限从号码被好友开始使用日起计算<br>
                        3、最终解释权归天舟通信公司所有
                </p>                                       
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
           </div>                  
      </div>     
    </body>     
</html>