<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="送朋友" />
        <title>送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>

       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_givefriend_top">
                <span class="z_giverfriend_send">赶快送给好朋友吧！</span>
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img th:src="${user.headimgurl}">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi" th:text="${user.nickname}+'送给号码卡'">咪咕咪咕虾送给号码卡</span>
                    <span class="z_choicethree"  th:text="${'可选择'+card.regexName}">可选三连号、四连号</span>
                    <span class="z_choice_goodnumber">祝您<br  th:text="${message}"></span>
                    <span class="z_friend_giveimg">
                        <img src="images/giftImage/give_07.png">
                    </span>                   
                </div> 
                <div class="z_choice_wxdoting">
                    <span class="z_send_wxfriend">送给微信好友</span>
                    <span class="z_dothing_share">生成礼品卡保存分享</span>
                </div>                             
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
            </div>
      </div>
      <div class="f_sharewrap">
          <div class="tb_overflay"></div>
          <div class="f_sharecontent">
              <img src="images/share_03.png">
          </div>
      </div>
      <script th:inline="javascript">
              var cardRecordId=[[${cardRecordId}]];

              //点击按钮显示浮层，gift_give,card_give
              $(".tb_overflay").click(function(){
                  $(".f_sharewrap").hide();
              });
              $(".f_sharewrap").click(function(){
                  $(this).hide();
              });
              $(".z_send_wxfriend").click(function(){
                  $(".f_sharewrap").show();
              });
              $(".z_dothing_share").click(function(){
                  window.location.href="/qrcode?cardRecordId="+cardRecordId;
              });
      </script>
      <script th:inline="javascript">
          var cardId=[[${card.id}]];
          var openid=[[${user.openid}]];
          var nickname=[[${user.nickname}]];
          //转发
          var url=window.location.href.split('#')[0];
          url = url.replace(/&/g, '%26');
          console.log("url:"+url);
          $.ajax({
              url: "/shareToFriend.action?url="+url,
              type: "POST",
              async:true,
              cache: false,
              dataType: "json",
              success: function(data){
                  console.log("shareToFriend return data:"+data);
                  // getHostPath();
                  wx.config({
                      debug:false,
                      appId: data.appId,
                      timestamp:data.timeStamp,
                      nonceStr:data.nonceStr,
                      signature:data.signature,
                      jsApiList: ["checkJsApi",  "onMenuShareAppMessage","onMenuShareTimeline"]
                  });}
          });

          wx.ready(function () {
              console.log("wx.ready method");
              console.log("getHostPath:"+getHostPath()+'/giftReturn?cardId='+cardId+'&senderId='+openid);
              wx.onMenuShareAppMessage({
                  title: '天啊噜，'+nickname+'送给你一个靓号，赶快领取！', // 分享标题
                  desc: '祝您大吉大利，今晚有靓号！', // 分享描述
                  link: getHostPath()+'/giftReturn?cardId='+cardId+'&senderId='+openid,
                  imgUrl: getHostPath()+'/images/wechatShareLogo.png', // 分享图标
                  success: function () {
                      // 用户点击了分享后执行的回调函数
                      //alert("回调");
                  }
              });
              wx.onMenuShareTimeline({
                  title: '天啊噜，'+nickname+'送给你一个靓号，赶快领取！', // 分享标题
                  desc: '祝您大吉大利，今晚有靓号！', // 分享描述
                  link: getHostPath()+'/giftReturn?cardId='+cardId+'&senderId='+openid,
                  imgUrl: getHostPath()+'/images/wechatShareLogo.png', // 分享图标
                  success: function () {
                      // 用户点击了分享后执行的回调函数
                      //alert("回调");
                  }
              });
          });

          function getHostPath(){
              //获取当前网址，如： http://localhost:8083/myproj/view/my.jsp
              var curWwwPath=window.document.location.href;
              //获取主机地址之后的目录，如： myproj/view/my.jsp
              var pathName=window.document.location.pathname;
              var pos=curWwwPath.indexOf(pathName);
              //获取主机地址，如： http://localhost:8083
              var localhostPath=curWwwPath.substring(0,pos);
              //获取带"/"的项目名，如：/myproj
              // var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
              //得到了 http://localhost:8083/myproj
              // var realPath=localhostPaht+projectName;
              // alert(realPath);
              console.log('localhostPath:'+localhostPath);
              return localhostPath;
          }
      </script>
    </body>


</html>