<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="送朋友" />
        <title>送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>   
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_givefriend_top">
                <span class="z_giverfriend_send">赶快送给好朋友吧！</span>
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img src="images/pic.png">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi">咪咕咪咕虾送给号码卡</span>
                    <span class="z_choicethree">可选三连号、四连号</span>
                    <span class="z_choice_goodnumber">祝您<br>大吉大利，今晚有靓号！</span>
                    <span class="z_friend_giveimg">
                        <img src="images/give_07.png">
                    </span>                   
                </div> 
                <div class="z_choice_wxdoting">
                    <span class="z_send_wxfriend">送给微信好友</span>
                    <span class="z_dothing_share">生成礼品卡保存分享</span>
                </div>                             
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/give_05.png">
            </div> 
      </div>     
    </body>     
</html>