<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="买靓号送朋友" />
        <title>买靓号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
            <div class="f_gifttop">
                <div class="f_gifttop_bj">
                    <a href="/oauth/gift/history">历史记录</a>
                </div>
                <img src="images/giftImage/gift_03.jpg">
                <img src="images/giftImage/gift_04.jpg">
            </div>
            <div class="f_gift_content regexCard" >
                <p class="z_gift_text">
                    <span>送朋友号码卡，号码朋友自己选择</span>
                    <span>把号码卡分享给朋友，朋友选择心意的号码即可使用</span>
                </p>               
            </div>
            <div class="f_gift_content f_gift_number">
                    <p class="z_gift_text">
                        <span>特定95号，送朋友</span>
                        <span>生日号、连号、豹子号，各种靓号等你来选 </span>
                    </p>               
            </div>
      </div>
    </body>
       <script th:inline="javascript">
           $(function(){
                 var openid=[[${openid}]];
                 $(".regexCard").click(function(){
                     console.log("regexCard");
                     window.location.href='/testRegexGift?openid='+openid
                 });
                 $(".f_gift_number").click(function(){
                     console.log("f_gift_number");
                     window.location.href='/testNumberRegex?openid='+openid
                 })
           })
        </script>
</html>