<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="买靓号送朋友" />
        <title>买靓号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
        <script type="text/javascript" th:src="@{/js/util.js}"></script>
        <script type="text/javascript" th:src="@{/js/wexinPay.js}"></script>
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
            <div class="f_gifttop">
                <div class="f_gifttop_bj">
                    <a href="/oauth/gift/history">历史记录</a>
                </div>
                <img src="images/giftImage/gift_03.jpg">
                <img src="images/giftImage/gift_04.jpg">
            </div>
          <!--no choice-->
            <div style="width: 10rem;margin:0 auto;position: relative;z-index:0;" th:if="${isHideOldDiv ==false}" >
                <div class="f_gift_content f_cardnumber">
                    <p class="z_cardnumber_text">
                        <span class="z_numbercard">挑选号码卡</span>
                        <!--<span class="z_givefriend"><a href="/testChooseRegex">点击这里挑选，送朋友</a></span>-->
                        <span class="z_givefriend toFriend"><a >点击这里挑选，送朋友</a></span>
                    </p>               
                </div>
            </div>
          <!--choose one regex-->
          <div class="z_cardshow_wrap" style="position: absolute;top:5rem;z-index: 10;"  th:if="${isHideOldDiv ==true}">
              <div class="z_choiceone_content">
                  <div class="z_choiceone_top">
                                <span class="z_cardshowone"><strong th:text="${card.cardName}">大吉大利卡</strong><br>
                                    <b class="z_taocamnumber_price">￥<i  th:text="${card.price}/100">0</i></b>
                                    <b >有效期：一年</b>
                                </span>
                      <span class="z_choiceone_img">
                                    <img src="images/giftImage/cardimg_05.png">
                                </span>
                  </div>
                  <div class="z_choiceone_bottom">
                      <span class="z_choiceone_requiretime" th:text="${'可选择'+card.regexName}">可选择生日号、三连号</span>
                      <span class="z_choiceone_activedcard">
                                    <a >重新选择</a>
                                </span>
                  </div>
              </div>
          </div>
            <p class="write_text">写祝福语</p>   
            <p class="write_textcontent">
                <textarea class="write_message" rows="5" cols="50" placeholder="大吉大利，今晚有靓号！" ></textarea>
            </p> 
            <p class="wirte_casher">
                <span class="z_cashjuan">现金券</span>
                <span class="z_cashselect"></span>
                <span class="z_casharrow">></span>
            </p> 
            <p class="f_userbook" style="margin-bottom:1.5rem;">
                <a href="/activity_description.html">使用说明</a>
            </p> 
            <p class="f_write_moneyfriend" style="position: fixed;bottom:0;">
                <span class="z_write_moeny">￥<b>0</b></span>
                <span class="z_price"></span>
                <span class="z_write_givefriend">
                    <a th:onclick="'javascript:pay()'">送朋友</a>
                </span>
            </p> 
      </div>

        <!--点击现金券弹窗-->
        <div class="f_cashshow" >
                <div class="tb_overflay"></div>
                  <div class="f_cashcontent">
                      <div class="f_cashclose">
                          <span>现金券</span><img src="images/giftImage/close.png">
                      </div>
                      <div class="cash_list">
                          <ul>
                              <li th:each="p:${giftRecord}">
                                  <span>￥<em th:text="${p.giftCoupon.amount/100}">10</em></span>
                                  <span th:text="${'有效期'+p.giftCoupon.createAt+'-'+p.giftCoupon.effectiveTime}">有效期：2019.08.22—2020.08.22</span>
                              </li>
                              <!--<li>-->
                                  <!--<span>￥<em>20</em></span>-->
                                  <!--<span>有效期：2019.08.22—2020.08.22</span>-->
                              <!--</li>-->
                              <!--<li>-->
                                  <!--<span>￥<em>30</em></span>-->
                                  <!--<span>有效期：2019.08.22—2020.08.22</span>-->
                              <!--</li>-->
                          </ul>
                      </div>  
                  </div>
        </div>

      <script th:inline="javascript">
          var openid=[[${openid}]];
          var userPhone = [[${userPhone}]];
          var clicktag = 0;  //微信支付标志
          var isHide=[[${isHideOldDiv}]];
          var uidNumber;
          $(function(){
              var oldPrice = $(".z_taocamnumber_price i").text();
              $(".z_write_moeny").find("b").text(oldPrice);
          });
          //挑选，送朋友
          $(".toFriend").click(function(){
              console.log("toFriend");
              window.location.href='/testChooseRegex?openid='+openid
          });
          $(".z_choiceone_activedcard").click(function(){
              console.log("z_choiceone_activedcard");
              window.location.href='/testChooseRegex?openid='+openid
          });

                //点击现金券弹窗js
                $(".wirte_casher").click(function(){
                $(".f_cashshow").show();  
                });
                $(".cash_list ul li").click(function(){
                    var normalPrice = $(".z_taocamnumber_price i").text();  //默认的套餐价格   
                    var normalPrice1 = $(".z_taocamnumber_price").text();
                    var selCash= $(this).find("span em").text();
                    var selCshe1 = $(this).find("span:eq(0)").text();
                    console.log("normalPrice - selCash"+normalPrice+","+selCash);
                    var totalPrice = (normalPrice - selCash).toFixed(2);
                    $(".z_cashselect").text("已选择：￥" + selCash);
                    $(".f_cashshow").hide();
                    if(totalPrice<0){
                        totalPrice=0.01;
                    }
                    $(".z_write_moeny").find("b").text(totalPrice);
                    
                    var salePrice= "=" + normalPrice1 + "-" + "现金券" + selCshe1;

                    $(".z_price").text(salePrice);
                });
                $(".f_cashclose").click(function(){
                    $(".f_cashshow").hide(); 
                });
                $(".tb_overflay").click(function(){
                    $(".f_cashshow").hide(); 
                });
                function pay () {
                    console.log("pay");
                    if(isHide==false){
                        alert("请选择号码卡。");
                    }else{
                        justPay()
                    }
                }
          //支付
          function justPay(){
              if (clicktag == 0) {  //判断标志
                  clicktag = 1;   //进行标志，防止多次点击
                  setTimeout(function () {
                      clicktag = 0
                  }, 4000);
                  var phone = userPhone;
                  uidNumber =randomNum(100,999)+phone+randomNum(100,999);
                  console.log("uidNumber"+uidNumber);
                  if (!util.validPhone(phone)) {
                      //util.showText("不是有效的手机号码!",$(".z_successtext"));
                      alert("不是有效的手机号码!");
                      return;
                  }
                  var val = "￥"+$(".z_write_moeny").find("b").text();
                  console.log("val"+val);
                  var days = 365;
                  var pay = {};
                  pay.openid = openid;
                  pay.totalFee = val;
                  pay.phone = phone;
                  pay.extend = 3;
                  pay.days = days;
                  pay.uidNumber = uidNumber;
                  var json = payGiftUtil.payGiftOrder(pay);
                  if (json.code != 200) {
                      alert(json.msg);
                      return;
                  } else {
                      json = json.data;
                  }
                  if (typeof WeixinJSBridge == "undefined") {
                      if (document.addEventListener) {
                          document.addEventListener('WeixinJSBridgeReady', onBridgeReady(json), false);
                      } else if (document.attachEvent) {
                          document.attachEvent('WeixinJSBridgeReady', onBridgeReady(json));
                          document.attachEvent('onWeixinJSBridgeReady', onBridgeReady(json));
                      }
                  } else {
                      onBridgeReady(json)
                  }
              }
          }
          /** 微信支付  start **/
          function onBridgeReady(json){
              WeixinJSBridge.invoke(
                  'getBrandWCPayRequest',json,
                  function(res){
                      if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                          var message = $(".write_message").val();
                          var cardId=[[${card.id}]];
                          if(message==''){
                              console.log("message:"+message);
                              message="大吉大利，今晚有靓号"
                          }
                          window.location.href="/card_give.html?cardId="+cardId+"&"+"openid="+openid+"&message="+message+"&uidNumber="+uidNumber;
                      }else {
                          //console.log(res.err_msg);
                          //alert("res.err_msg is:"+res.err_msg);
                          //window.location.href="/oauth/regex/buy_zhizun.html?"+Math.random()*10;
                      }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                  }
              );
          }
      </script>
    <script>
        function randomNum(minNum,maxNum){
            switch(arguments.length){
                case 1:
                    return parseInt(Math.random()*minNum+1,10);
                    break;
                case 2:
                    return parseInt(Math.random()*(maxNum-minNum+1)+minNum,10);
                    break;
                default:
                    return 0;
                    break;
            }
        }
    </script>
    </body>     
</html>