<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="买靓号送朋友" />
        <title>买靓号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
            <div class="f_gifttop">
                <div class="f_gifttop_bj" style="opacity:.7;">
                    <a href="/oauth/gift/history" style="opacity:.7;">历史记录</a>
                </div>
                <img src="images/gift_03.jpg" style="opacity:.7;">
                <img src="images/gift_04.jpg" style="opacity:.7;">
            </div>
               <div style="width: 10rem;margin:0 auto;position: relative;z-index:0;">
                    <div class="f_giftshow">
                        <div class="f_giftshow_content">
                            <span class="z_giftshow_img">
                                <img src="images/box_03.png">
                            </span>
                            <span class="z_giftshow_number">95013&nbsp;&nbsp;68985<br><em><i style="font-style:normal;">299</i>元／年</em>&nbsp;<b>有效期一年</b></span>
                            <span class="z_giftshow_select">重新选择</span>
                        </div>          
                    </div>
                </div>
                <p class="write_text">写祝福语</p>   
                <p class="write_textcontent">
                    <textarea rows="5" cols="50" placeholder="大吉大利，今晚有靓号！" maxlength="20"></textarea>
                </p> 
                <p class="wirte_casher">
                    <span class="z_cashjuan">现金券</span>
                    <span class="z_casharrow">></span>
                </p> 
                <p class="f_userbook">
                    <a href="">使用说明</a>
                </p> 
                <p class="f_write_moneyfriend" style="position: fixed;bottom:0;width:9.8rem;padding:.1rem;box-shadow:2px -5px 5px #d8e1ea;border-radius:.2rem;border: 1px solid #aeb5c2;">
                    <span class="z_write_moeny">￥<b>299</b></span>
                    <span class="z_price"></span>
                    <span class="z_write_givefriend">
                        <a href="">送朋友</a>
                    </span>
                </p> 
      </div>
        <!--点击现金券弹窗-->
      <div class="f_cashshow" >
            <div class="tb_overflay"></div>
              <div class="f_cashcontent">
                  <div class="f_cashclose">
                      <span>现金券</span><img src="images/close.png">
                  </div>
                  <div class="cash_list">
                      <ul>
                          <li>
                              <span>￥<em>10</em></span>
                              <span>有效期：2019.08.22—2020.08.22</span>
                          </li>
                          <li>
                              <span>￥<em>20</em></span>
                              <span>有效期：2019.08.22—2020.08.22</span>
                          </li>
                          <li>
                              <span>￥<em>30</em></span>
                              <span>有效期：2019.08.22—2020.08.22</span>
                          </li>
                      </ul>
                  </div>  
              </div>
        </div>
      <script type="text/javascript">
            //点击现金券弹窗js
            $(".wirte_casher").click(function(){
            $(".f_cashshow").show();  
            })
            $(".cash_list ul li").click(function(){
                var normalPrice = $(".z_giftshow_number i").text();  //默认的套餐价格   
                // var normalPrice1 = $(".z_giftshow_number").text()  
                var selCash= $(this).find("span em").text();
                var selCshe1 = $(this).find("span:eq(0)").text();
                var totalPrice = normalPrice - selCash;
                $(".z_cashselect").text("已选择：￥" + selCash);
                $(".f_cashshow").hide(); 
                $(".z_write_moeny").find("b").text(totalPrice);
                
                var salePrice= "=￥" + normalPrice + "-" + "现金券" + selCshe1;
                $(".z_price").text(salePrice);
            })
            $(".f_cashclose").click(function(){
                $(".f_cashshow").hide(); 
            })
            $(".tb_overflay").click(function(){
                $(".f_cashshow").hide(); 
            })
    </script>
    </body>     
</html>