<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="买靓号送朋友" />
        <title>买靓号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>   
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
            <div class="f_gifttop">
                <div class="f_gifttop_bj">
                    <a href="">历史记录</a>
                </div>
                <img src="images/giftImage/gift_03.jpg">
                <img src="images/giftImage/gift_04.jpg">
            </div>
          <!--no choice-->
            <div style="width: 10rem;margin:0 auto;position: relative;z-index:0;" th:if="${isHideOldDiv ==false}" >
                <div class="f_gift_content f_cardnumber">
                    <p class="z_cardnumber_text">
                        <span class="z_numbercard">挑选号码卡</span>
                        <span class="z_givefriend"><a href="/testChooseRegex">点击这里挑选，送朋友</a></span>
                    </p>               
                </div>
            </div>
          <!--choose one regex-->
          <div class="z_cardshow_wrap" style="position: absolute;top:5rem;z-index: 10;"  th:if="${isHideOldDiv ==true}">
              <div class="z_choiceone_content">
                  <div class="z_choiceone_top">
                                <span class="z_cardshowone"><strong th:text="${card.cardName}">大吉大利卡</strong><br>
                                    <b class="z_taocamnumber_price">￥<i  th:text="${card.price}/10">0</i></b>
                                    <b  th:text="${'号码有效期:'+card.validTimeNumber+card.validTimeUnitName}">有效期：一年</b>
                                </span>
                      <span class="z_choiceone_img">
                                    <img src="images/giftImage/cardimg_05.png">
                                </span>
                  </div>
                  <div class="z_choiceone_bottom">
                      <span class="z_choiceone_requiretime" th:text="${'可选择'+card.regexName}">可选择生日号、三连号</span>
                      <span class="z_choiceone_activedcard">
                                    <a href="/testChooseRegex">重新选择</a>
                                </span>
                  </div>
              </div>
          </div>
            <p class="write_text">写祝福语</p>   
            <p class="write_textcontent">
                <textarea class="write_message" rows="5" cols="50" placeholder="大吉大利，今晚有靓号！" ></textarea>
            </p> 
            <p class="wirte_casher">
                <span class="z_cashjuan">现金券</span>
                <span class="z_cashselect"></span>
                <span class="z_casharrow">></span>
            </p> 
            <p class="f_userbook">
                <a href="/activity_description.html">使用说明</a>
            </p> 
            <p class="f_write_moneyfriend">
                <span class="z_write_moeny">￥<b>0</b></span>
                <span class="z_write_givefriend">
                    <a th:onclick="'javascript:pay()'">送朋友</a>
                </span>
            </p> 
      </div>

        <!--点击现金券弹窗-->
        <div class="f_cashshow" >
                <div class="tb_overflay"></div>
                  <div class="f_cashcontent">
                      <div class="f_cashclose">
                          <span>现金券</span><img src="images/giftImage/close.png">
                      </div>
                      <div class="cash_list">
                          <ul>
                              <li th:each="p:${giftRecord}">
                                  <span>￥<em th:text="${p.giftCoupon.amount/100}">10</em></span>
                                  <span th:text="${'有效期'+p.giftCoupon.createAt+'-'+p.giftCoupon.effectiveTime}">有效期：2019.08.22—2020.08.22</span>
                              </li>
                              <!--<li>-->
                                  <!--<span>￥<em>20</em></span>-->
                                  <!--<span>有效期：2019.08.22—2020.08.22</span>-->
                              <!--</li>-->
                              <!--<li>-->
                                  <!--<span>￥<em>30</em></span>-->
                                  <!--<span>有效期：2019.08.22—2020.08.22</span>-->
                              <!--</li>-->
                          </ul>
                      </div>  
                  </div>
        </div>

      <script th:inline="javascript">
          $(function(){
              var oldPrice = $(".z_taocamnumber_price i").text();
              $(".z_write_moeny").find("b").text(oldPrice);
          });
          var clicktag = 0;  //微信支付标志
          var isHide=[[${isHideOldDiv}]];
          var cardId=[[${card.id}]];
          var openid=[[${openid}]];
                //点击现金券弹窗js
                $(".wirte_casher").click(function(){
                $(".f_cashshow").show();  
                });
                $(".cash_list ul li").click(function(){
                    var normalPrice = $(".z_taocamnumber_price i").text();  //默认的套餐价格   
                    var normalPrice1 = $(".z_taocamnumber_price").text();
                    var selCash= $(this).find("span em").text();
                    var selCshe1 = $(this).find("span:eq(0)").text();
                    var totalPrice = normalPrice - selCash;
                    $(".z_cashselect").text("已选择：￥" + selCash);
                    $(".f_cashshow").hide();
                    if(totalPrice<0){
                        totalPrice=0;
                    }
                    $(".z_write_moeny").find("b").text(totalPrice);
                    
                    var salePrice= "=" + normalPrice1 + "-" + "现金券" + selCshe1;

                    $(".z_price").text(salePrice);
                });
                $(".f_cashclose").click(function(){
                    $(".f_cashshow").hide(); 
                });
                $(".tb_overflay").click(function(){
                    $(".f_cashshow").hide(); 
                });
                function pay () {
                    console.log("pay");
                    if(isHide==false){
                        alert("请选择号码卡。");
                    }else{
                        var message = $(".write_message").val();
                        window.location.href="/card_give.html?cardId="+cardId+"&"+"openid="+openid+"&message="+message;
                    }
                }
      </script>
    </body>     
</html>