<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="礼品卡" />
        <title>礼品卡</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_qrcode_top">
               <img src="images/giftImage/qrcodeimg.jpg">
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img th:src="${user.headimgurl}"  style="border-radius:50%;">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi"    th:text="${user.nickname}+'送给你靓号'">虾米送给你靓号</span>
                    <span class="z_choicethree"   th:text="${card.number}">77889800123</span>
                    <span class="z_choice_goodnumber">祝您<br   th:text="${giftCardRecord.message}"></span>
                    <span class="z_friend_giveimg z_friend_erweima">
                      <img th:src="${href}">
                    </span>
                    <div class="longpic" >
                        <span>长按图片保存到相册</span>
                    </div>
                    <span class="z_saoyisao">微信扫一扫，领取靓号</span>                  
                </div>
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
           </div> 

      </div>     
    </body>     
</html>