<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="靓号" />
        <title>靓号</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_goodnumber_top">
               <span class="z_giverfriend_send z_goodnumber_number">进入个人中心—我的安全号&nbsp;<a href="/oauth/admin/OwnerSafeNumber.html"></a></span>
           </div>
           <div class="z_giverfriend_content">
                <div class="z_givefriend_listcontent">
                    <span class="z_choicethree z_goodnumber_95013">95013888</span>
                    <span>有效期 2018.08.20—2018.08.30</span>   
                    <span class="z_goodnumber_weixin">关注微信公众号使用更多功能</span>               
                </div> 
                <div class="z_choice_wxdoting">
                    <span class="z_send_wxfriend"><a href="">关注微信公众号</a></span>
                    <span class="z_dothing_share"><a href="">查看我的95号</a></span>
                </div>                             
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/give_05.png">
            </div> 
      </div>     
    </body>     
</html>