<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="短信" />
        <title>短信</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script> 
        <script type="text/javascript" src="js/safenumber.js"></script>   
       
    </head>
    <body>
      <div class="wrap gift_wrap">
          <div class="f_message_top f_message_detailtop">
                <img src="images/key_03.png">
                <span class="z_messagedetai_number">950135901234785</span>
                <p class="z_message_messages">接收和发送来自<em  class="z_message_telphone">13466787751</em>的短信</p>       
          </div>

          <div class="f_messagedetail_list">
              <ul>
                <li>
                  <p class="f_messagedetail_datetime">09－18&nbsp;10:22</p>
                  <p class="f_messagedetail_content">
                    <span class="z_detail_contents">你好，欢迎使用安全号业务，安全号是您手机号的忠诚 保护伞。</span>
                    <span class="z_messagedetail_tip">
                      <img src="images/tipleft_03.png">
                    </span>
                  </p>
                </li>
                <li>
                    <p class="f_messagedetail_datetime f_mesdetail_righttime">09－18&nbsp;10:22</p>
                    <p class="f_messagedetail_content f_mesdetail_conright">
                      <span class="z_detail_contents">找我有什么事情？最近怎么样啊？</span>
                      <span class="z_mesdetail_tipright">
                        <img src="images/gift4_07.png">
                      </span>
                    </p>
                  </li>
                  <li>
                  <p class="f_messagedetail_datetime">09－18&nbsp;10:22</p>
                  <p class="f_messagedetail_content">
                    <span class="z_detail_contents">你好，欢迎使用安全号业务，安全号是您手机号的忠诚 保护伞。</span>
                    <span class="z_messagedetail_tip">
                      <img src="images/tipleft_03.png">
                    </span>
                  </p>
                </li>
              </ul>
          </div>

          <p class="f_sendmessage f_insertmes_content">
              <input type="text" id="" name="" placeholder="输入短信内容发送">
              <span class="z_airport">
                  <img src="images/airport.png">
              </span>
         </p>          
      </div>
    </body>     
</html>