<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="短信" />
        <title>短信</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
        <script type="text/javascript" th:src="@{/js/safenumber.js}" th:async="yes"  th:inline="javascript"></script>
       
    </head>
    <body>
      <div class="wrap gift_wrap">
          <div class="f_message_top">
                <img src="images/key_03.png">
                <span class="z_message_number">778895901234785</span>接收和发送的短信
          </div>

          <div class="f_messagelist">
            <ul>
              <li>
                  <p class="z_message_number">13466787751
                    <span class="z_message_datetime">2018年05月17日 15:33:10</span>
                  </p>
                  <p class="z_message_tip"> 您好，欢迎使用咕咕业务，咕咕是您手机号的忠诚保护伞。</p>
              </li>
              <li>
                  <p class="z_message_number">13466787751
                    <span class="z_message_datetime">2018年05月17日 15:33:10</span>
                  </p>
                  <p class="z_message_tip"> 您好，欢迎使用咕咕业务，咕咕是您手机号的忠诚保护伞。</p>
              </li>
              <li>
                  <p class="z_message_number">13466787751
                    <span class="z_message_datetime">2018年05月17日 15:33:10</span>
                  </p>
                  <p class="z_message_tip"> 您好，欢迎使用咕咕业务，咕咕是您手机号的忠诚保护伞。</p>
              </li>
              <li>
                  <p class="z_message_number">13466787751
                    <span class="z_message_datetime">2018年05月17日 15:33:10</span>
                  </p>
                  <p class="z_message_tip"> 您好，欢迎使用咕咕业务，咕咕是您手机号的忠诚保护伞。</p>
              </li>
            </ul>
          </div>
      </div>
    </body>     
</html>