<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="微信送礼" />
        <title>微信送礼</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>   
       
    </head>
    <body>  
      <div class="wrap mygift_givewrap">
          <div id="tab">
                <div class="f_tabnav">
                        <ul>
                            <li class="z_tabnav_actived">我送出的</li>
                            <li>我收到的</li>
                        </ul>
                </div>
          
                <div class="f_tabcontent">              
                      <dl>
                          <dd>
                              <ul>
                                          <li>
                                              <div class="z_tablist">
                                                  <p class="z_tablist_title">
                                                      95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                                  </p>
                                                  <p class="z_tablist_price">399元／年<span class="z_tabsmalltitle z_tabdatetime">2018年08月23日购买的</span></p>
                                                  <p class="z_tablist_content">
                                                      <img src="images/giftimg_03.png">
                                                      <span class="z_tablist_text">大喇叭<br>2018年09月23日 16:25:08 领取</span>
                                                  </p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="z_tablist">
                                                  <p class="z_tablist_title">
                                                      大吉大利卡&nbsp;
                                                      <span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                                      <span class="z_tablist_nouse">未领取</span>
                                                  </p>
                                                  <p class="z_tablist_price">399元／年<span class="z_tabsmalltitle z_tabdatetime">能选择三连号、四连号</span></p>
                                                  <p class="z_tablist_content">
                                                      <span class="z_tanlist_notusedate">2018年08月23日购买的<br><em>朋友未领取</em></span>
                                                      <span class="z_tablist_notusesendbtn">
                                                          <a href="">送给朋友</a>
                                                          <a href="">生成礼品卡</a>
                                                      </span>
                                                  </p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="z_tablist">
                                                  <p class="z_tablist_title">
                                                      95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                                  </p>
                                                  <p class="z_tablist_price">399元／年<span class="z_tabsmalltitle z_tabdatetime">2018年08月23日购买的</span></p>
                                                  <p class="z_tablist_content">
                                                      <img src="images/giftimg_03.png">
                                                      <span class="z_tablist_text">大喇叭<br>2018年09月23日 16:25:08 领取</span>
                                                  </p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="z_tablist">
                                                  <p class="z_tablist_title">
                                                      95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                                  </p>
                                                  <p class="z_tablist_price">399元／年<span class="z_tabsmalltitle z_tabdatetime">2018年08月23日购买的</span></p>
                                                  <p class="z_tablist_content">
                                                      <img src="images/giftimg_03.png">
                                                      <span class="z_tablist_text">大喇叭<br>2018年09月23日 16:25:08 领取</span>
                                                  </p>
                                              </div>
                                          </li>
                              </ul>
                          </dd>
                          <dd  style="display:none;">
                              <ul>
                                  <li>
                                      <div class="z_tablist">
                                          <p class="z_tablist_title">
                                              95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                          </p>                        
                                          <p class="z_tablist_content">
                                              <img src="images/gift4_03.png">
                                              <span class="z_tablist_text">丽莎<br>2018年09月23日 16:25:08 送给我的</span>
                                          </p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="z_tablist">
                                          <p class="z_tablist_title">
                                              95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                          </p>                        
                                          <p class="z_tablist_content">
                                              <img src="images/gift4_03.png">
                                              <span class="z_tablist_text">丽莎<br>2018年09月23日 16:25:08 送给我的</span>
                                              <span class="z_tablist_selectnumber">已选号码：<em>95013780000</em></span>
                                          </p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="z_tablist">
                                          <p class="z_tablist_title">
                                              95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                          </p>                        
                                          <p class="z_tablist_content">
                                              <img src="images/gift4_03.png">
                                              <span class="z_tablist_text">丽莎<br>2018年09月23日 16:25:08 送给我的</span>
                                          </p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="z_tablist">
                                          <p class="z_tablist_title">
                                              95013&nbsp;68985&nbsp;<span class="z_tabsmalltitle">祝福语：大吉大利，今晚有靓号</span>
                                          </p>                        
                                          <p class="z_tablist_content">
                                              <img src="images/gift4_03.png">
                                              <span class="z_tablist_text">丽莎<br>2018年09月23日 16:25:08 送给我的</span>
                                          </p>
                                      </div>
                                  </li>
                                 
                              </ul>
                          </dd>                
                      </dl>               
                </div>   
          </div>
          
      </div>  
      
      <script type="text/javascript">
            $(function(){
                $(".f_tabnav ul li").click(function(){
                    var index = $(this).index();
                    $(this).addClass("z_tabnav_actived");
                    $(this).siblings().removeClass("z_tabnav_actived");
                    $(".f_tabcontent dl dd").eq(index).show();
                    $(".f_tabcontent dl dd").eq(index).siblings().hide();
                    
                })
            })
      </script>
    </body>     
</html>