<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="我的安全号" />
        <title>我的安全号</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
        <script type="text/javascript" th:src="@{/js/safenumber.js}" th:async="yes"  th:inline="javascript"></script>
       
    </head>
    <body>
      <div class="wrap f_404wrap">
        <!--顶部信息-->
        <div class="f_mynum_top">
            <div class="f_mynum_left">
              <img src="images/pic.png">
            </div>
            <div class="f_mynum_right">
                <p class="z_telphone">
                  手机号：<b>13466787750</b>
                  <a href="javascript:void(0);">修改绑定手机</a>
                </p>
                <div class="z_mynumlist">
                  <ul>
                    <li>
                      <span class="z_number">10</span>
                      <span>安全号</span>
                    </li>
                    <li>
                      <span class="z_number z_f31e66">1</span>
                      <span>即将过期</span>
                    </li>
                    <li>
                      <span class="z_number">3</span>
                      <span>已过期</span>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        
        <div class="mynumber_list">
            <ul>
              <li>
                <div class="f_mynumber_gift">
                    <img src="images/myicon_03.png"><br>微信送礼<br>
                    <em>95号码送朋友</em>
                </div>                 
              </li>
              <li>
                <div class="f_mynumber_gift f_mynumber_gifttwo">
                    <img src="images/myicon_08.png"><br>福利送朋友<br>
                    <em>让朋友也用上95号</em>
                </div>                 
              </li>
              <li>
                <div class="f_mynumber_gift f_mynumber_giftthree">
                    <img src="images/myicon_05.png" style="width:.9rem;"><br>我的积分<br>
                    <em>分享越多&nbsp;积分越多</em>
                </div>                 
              </li>
            </ul>
        </div>

        <!--选项卡效果-->
         <div class="f_mynumber_tab">
            <ul class="f_mynumber_nav">
              <li class="active">我的</li>
              <li>为ta人购买的</li>
            </ul>
            <ul class="f_mynumber_content">
              <li>
                <div>
                  <div class="f_mynumber_list">
                      <div class="z_mynumber_list">
                            <p>
                              <span class="z_imgkey">
                                <img src="images/key.png" />
                              </span>
                              <span class="z_mynumber95013">950135901234785</span>
                              <span class="z_mynumber_smalltitle">时长剩余: 10&nbsp;留言剩余: 5&nbsp;短信剩余: 5</span>
                            </p>
                            <p class="f_myimg_tel">
                              <span class="z_imgkey z_imgtel">
                                <img src="images/tel.png" />
                              </span>
                              <span class="z_mynumber_telphone">13466787750</span>
                              <span class="z_todatetime">有效期至：今天</span>
                            </p>                        
                      </div>

                      <div class="f_delay_detail">
                              <span class="z_number_dalay">
                                  <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                              </span>
                              <span class="z_number_dalay">
                                  <a href="javascript:void(0);" class="number_delay">号码延期</a>
                              </span>
                              <span>
                                  <a href="javascript:void(0);" class="number_detail">号码详情</a>
                              </span>
                      </div>
                  </div>

                  <div class="f_mynumber_list">
                      <div class="z_mynumber_list">
                            <p>
                              <span class="z_imgkey">
                                <img src="images/key.png" />
                              </span>
                              <span class="z_mynumber95013">950135901234785</span>
                              <span class="z_mynumber_smalltitle">时长剩余: 10&nbsp;留言剩余: 5&nbsp;短信剩余: 5</span>
                            </p>
                            <p class="f_myimg_tel">
                              <span class="z_imgkey z_imgtel">
                                <img src="images/tel.png" />
                              </span>
                              <span class="z_mynumber_telphone">13466787750</span>
                              <span class="z_todatetime">有效期至：今天</span>
                            </p>                        
                      </div>
                      <div class="f_delay_detail">
                              <span class="z_number_dalay">
                                  <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                              </span>
                              <span class="z_number_dalay">
                                  <a href="">号码延期</a>
                              </span>
                              <span>
                                  <a href="">号码详情</a>
                              </span>
                      </div>
                  </div>

                  <div class="f_mynumber_list">
                      <div class="number_expire">
                        <a href="">号码延期</a>
                      </div>
                      <div class="z_mynumber_list">
                            <p>
                              <span class="z_imgkey z_imgkey_gray">
                                <img src="images/key.png" />
                              </span>
                              <span class="z_mynumber95013 z_mynumber95013_gray">950135901234785</span>
                              <span class="z_mynumber_smalltitle z_mynumber_smalltitleexpire">时长剩余: 0&nbsp;留言剩余: 0&nbsp;短信剩余: 0</span>
                            </p>
                            <p class="f_myimg_tel">
                              <span class="z_imgkey z_imgtel z_imgtel_gray">
                                <img src="images/tel.png" />
                              </span>
                              <span class="z_mynumber_telphone z_mynumber_telphone_gray">13466787750</span>
                              <span class="z_todatetime z_todatetime_gray">有效期至：2017年05月22日</span>
                            </p>                        
                      </div>
                      <div class="f_delay_detail">
                              <span class="z_number_dalay">
                                  <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                              </span>
                              <span class="z_number_dalay">
                                  <a href="">号码延期</a>
                              </span>
                              <span>
                                  <a href="">号码详情</a>
                              </span>
                      </div>
                  </div>

                  <!-- <p class="f_mynumber_time">显示在有效期内及已过期&nbsp;<span>60</span>&nbsp;天内的记录</p> -->
                  <p class="f_bindsuc_share f_mynumberbtn">
                    <a href="javascript:void(0);">购买安全号</a>
                  </p>
                  <p class="f_bindsuc_sharebj">&nbsp;</p>
                </div>
                <!--暂无安全号-->
                <div class="f_notnumber" style="display: none;">
                    <p class="z_notnumimg">
                      <img src="images/notnumber_03.png">
                    </p>
                    <p class="z_notnum_text">暂无安全号，赶快保护自己的隐私吧。</p>                  
                    <p class="f_bindsuc_share">
                      <a href="javascript:void(0);">购买安全号</a>
                    </p>
                    <p class="f_bindsuc_sharebj">&nbsp;</p>
                </div>

              </li>

              <li style="display: none">
                <!-- <div class="f_notnumber">
                    <p class="z_notnumimg">
                      <img src="images/otherbuy_03.png">
                    </p>
                    <p class="z_notnum_text">
                      保护别人隐私也很重要，赶紧为ta提供安全号。
                    </p>                  
                    <p class="f_bindsuc_share">
                      <a href="javascript:void(0);">购买安全号</a>
                    </p>
                    <p class="f_bindsuc_sharebj">&nbsp;</p>
                </div> -->
                <div>
                    <div class="f_mynumber_list">
                        <div class="z_mynumber_list">
                              <p>
                                <span class="z_imgkey">
                                  <img src="images/key.png" />
                                </span>
                                <span class="z_mynumber95013">950135901234785</span>
                                <span class="z_mynumber_smalltitle">时长剩余: 10&nbsp;留言剩余: 5&nbsp;短信剩余: 5</span>
                              </p>
                              <p class="f_myimg_tel">
                                <span class="z_imgkey z_imgtel">
                                  <img src="images/tel.png" />
                                </span>
                                <span class="z_mynumber_telphone">13466787750</span>
                                <span class="z_todatetime">有效期至：今天</span>
                              </p>                        
                        </div>
  
                        <div class="f_delay_detail">
                                <span class="z_number_dalay">
                                    <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                                </span>
                                <span class="z_number_dalay">
                                    <a href="javascript:void(0);" class="number_delay">号码延期</a>
                                </span>
                                <span>
                                    <a href="javascript:void(0);" class="number_detail">号码详情</a>
                                </span>
                        </div>
                    </div>
  
                    <div class="f_mynumber_list">
                        <div class="z_mynumber_list">
                              <p>
                                <span class="z_imgkey">
                                  <img src="images/key.png" />
                                </span>
                                <span class="z_mynumber95013">950135901234785</span>
                                <span class="z_mynumber_smalltitle">时长剩余: 10&nbsp;留言剩余: 5&nbsp;短信剩余: 5</span>
                              </p>
                              <p class="f_myimg_tel">
                                <span class="z_imgkey z_imgtel">
                                  <img src="images/tel.png" />
                                </span>
                                <span class="z_mynumber_telphone">13466787750</span>
                                <span class="z_todatetime">有效期至：今天</span>
                              </p>                        
                        </div>
                        <div class="f_delay_detail">
                                <span class="z_number_dalay">
                                    <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                                </span>
                                <span class="z_number_dalay">
                                    <a href="">号码延期</a>
                                </span>
                                <span>
                                    <a href="">号码详情</a>
                                </span>
                        </div>
                    </div>
  
                    <div class="f_mynumber_list">
                        <div class="number_expire">
                          <a href="">号码延期</a>
                        </div>
                        <div class="z_mynumber_list">
                              <p>
                                <span class="z_imgkey z_imgkey_gray">
                                  <img src="images/key.png" />
                                </span>
                                <span class="z_mynumber95013 z_mynumber95013_gray">950135901234785</span>
                                <span class="z_mynumber_smalltitle z_mynumber_smalltitleexpire">时长剩余: 0&nbsp;留言剩余: 0&nbsp;短信剩余: 0</span>
                              </p>
                              <p class="f_myimg_tel">
                                <span class="z_imgkey z_imgtel z_imgtel_gray">
                                  <img src="images/tel.png" />
                                </span>
                                <span class="z_mynumber_telphone z_mynumber_telphone_gray">13466787750</span>
                                <span class="z_todatetime z_todatetime_gray">有效期至：2017年05月22日</span>
                              </p>                        
                        </div>
                        <div class="f_delay_detail">
                                <span class="z_number_dalay">
                                    <a href="javascript:void(0);" class="number_delay">充留言/短信</a>
                                </span>
                                <span class="z_number_dalay">
                                    <a href="">号码延期</a>
                                </span>
                                <span>
                                    <a href="">号码详情</a>
                                </span>
                        </div>
                    </div>
  
                    <!-- <p class="f_mynumber_time">显示在有效期内及已过期&nbsp;<span>60</span>&nbsp;天内的记录</p> -->
                    <p class="f_bindsuc_share f_mynumberbtn">
                      <a href="javascript:void(0);">购买安全号</a>
                    </p>
                    <p class="f_bindsuc_sharebj">&nbsp;</p>
                  </div>
                
              </li>
            </ul>
         </div>

          <div class="clearFix"></div>

        
        

        <!--不能延期弹窗-->
        <div class="not_delay">
            <div class="light"></div>
            <span class="z_notdelay_text">该手机号同时拥有安全号10个，此安全号不能延期！</span>
        </div>

        <!--选择天数弹窗-->
        <div class="f_selectdays">
            <div class="tb_overflay"></div>
            <div class="f_select_content">
                <div>
                    <span class="z_closeimg">
                      <img src="images/close.png" />
                    </span>
                    <span class="z_delaydays">选择天数</span>
                </div>
                <div class="f_dayscontent">
                  <ul>
                    <li class="f_tiyan">
                        <p class="z_requiredays">有效期3天</p>
                        <p>￥0.01</p>
                        <p class="z_limits3"><del>￥2</del>限购3次</p>
                    </li>
                    <li class="f_discount">
                        <p class="z_requiredays">有效期10天</p>
                        <p>￥3</p>
                        <p class="z_limits3"><del>￥6</del></p>
                    </li>
                    <li class="f_sales">
                        <p class="z_requiredays">有效期30天</p>
                        <p>￥5</p>
                        <p class="z_limits3"><del>￥10</del></p>
                    </li>
                  </ul>
                </div>

                <div>
                  <p class="f_bindsuc_share f_fastpay">
                    <a href="javascript:void(0);">立即支付（<em>¥1</em>）</a>
                  </p>
                  <p class="f_bindsuc_sharebj f_fastpay">&nbsp;</p>
                </div>
            </div>
        </div>

        <!--点击号码详情弹窗-->
        <div class="f_numberdetail">
          <div class="tb_overflay"></div>
          <div class="f_numdetail_content">
            <div class="z_mynumber_list">
                <p>
                  <span class="z_imgkey">
                    <img src="images/key.png" />
                  </span>
                  <span class="z_mynumber95013">950135901234785</span>
                </p>
                <p class="f_myimg_tel">
                  <span class="z_imgkey z_imgtel">
                      <img src="images/tel.png" />
                  </span>
                  <span class="z_mynumber_telphone">13466787750</span>
                </p>  
                <p class="z_numdetail_tip">该安全号由134****7750在2017年05月17日为您提供！</p>
            </div>            

            <p class="z_numdetail_line"></p>
            <div class="z_numdetail_require">
              有效期至：2017年05月22日
              <span class="f_numdetail_delay">
                <a href="javascript:void(0);">号码延期</a>
              </span>
              
            </div>
            <p class="z_numdetail_line"></p>

          </div>

        </div>

      </div>
    </body>     
</html>