<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="发短信" />
        <title>发短信</title>
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>

    </head>
    <body>
      <div class="wrap f_sendmessage_wrap">
        <div class="f_sendmessage">
            <span class="z_newmessage">
                <input type="tel" id="" name="" placeholder="请输入收信人号码">
            </span>
        </div>
        <p class="z_newmes_tip">使用咕咕77889599901234发信息</p>
        <p class="f_sendmessage f_insertmes_content">
                <input type="text" id="" name="" placeholder="输入短信内容发送">
                <span class="z_airport">
                    <img src="images/airport.png">
                </span>
        </p>

    </body>
</html>