<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="选择靓号" />
        <title>选择靓号</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
          <div class="f_selectnumber_top">
                <div class="f_selectnumber_toplist">
                    <ul>
                        <li  th:each="reg:${regexs}">
                            <img src="images/giftImage/icon2.png"><br  th:text="${reg.value}" th:value="${reg.key}" />
                        </li>
                        <!--<li>-->
                            <!--<img src="images/giftImage/icon2.png"><br>纪念日-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="images/giftImage/icon3.png"><br>恋爱-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="images/giftImage/icon4.png"><br>老板号-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<img src="images/giftImage/icon5.png"><br>连号-->
                        <!--</li>-->
                    </ul>
                    <div class="f_searchinput">
                        <input type="text" placeholder="输入您想要的号码" value="" id="" name="" class="z_searchnumber">
                        <input type="button" value="搜索" id="search" name="search" class="z_searchnumber_btn">
                    </div>
                </div>
          </div>

          <div class="f_searchnumber_list">
            <ul>
                <!--<li>-->
                    <!--<div class="z_numberlists">-->
                        <!--<p class="z_numberlists_number"></p>-->
                        <!--<p class="z_numberlist_content">-->
                            <!--<span class="z_number_price"></span>-->
                            <!--<span class="z_number_selected z_numberbuy_selected"></span>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
          </div>
      </div>


      <script th:inline="javascript">
        $(function(){
            var openid = [[${openid}]];
            /** 加载默认套餐号码**/
            var initRegex=$(".f_selectnumber_toplist ul li:eq(0)");
            initRegex.addClass("current");
            var regexId = initRegex.find("br").attr("value");
            console.log("regexId init is:"+regexId);
            var dataInit = {};
            dataInit.regexId = regexId;
            dataInit.number ='';
            initNumber(dataInit);
            //点击选好了
            $(document).on('click', '.numberClick', function() {
                var chooseNumber =$(this).parent().parent().find(".z_numberlists_number").text();
                window.location.href="/testNumberRegex?chooseNumber="+chooseNumber+"&isHideOldDiv=true"+"&openid="+openid;
            });
        });
        //tab change
            $(".f_selectnumber_toplist ul").find("li").click(function () {
                $(".f_selectnumber_toplist ul").find("li").removeClass("current");
                $(this).addClass("current");
                /** 加载 该套餐号码**/
                var regexId = $(this).find("br").attr("value");
                console.log("regexId:"+regexId);
                var data = {};
                data.regexId = regexId;
                data.number = '';
                initNumber(data);
                $(".z_searchnumber").val('');
            });
        //click search botton
        $(".z_searchnumber_btn").click(function () {
            //find(".z_imgkey").hasClass("z_imgkey_gray")
            var regexSearch=$(".current").find("br").attr("value");
            var dataSearch = {};
            dataSearch.regexId = regexSearch;
            dataSearch.number = $(".z_searchnumber").val();
            console.log("dataSearch:"+dataSearch.regexId+","+dataSearch.number);
            initNumber(dataSearch);
        });

            //加载号码
            function initNumber(data) {
                $.ajax({
                    url: "/changeModule",
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success:function (response) {
                        if (response.code == 200) {
                            var arr = response.data;
                            var numberModule = arr[0];
                            //原号码清空。
                            $(".f_searchnumber_list").find("li").remove();
                            //加载新号码。
                            var html='';
                            var itemNumber='';
                            var itemPrice='';
                            $.each(numberModule, function (index, item) {
                                itemNumber=item.number;
                                itemPrice=item.numberPrice;
                                // console.log("itemNumber and price:"+itemNumber+","+itemPrice+".");
                                html +="<li>"+"<div class='z_numberlists'>" +
                                    "<p class='z_numberlists_number' >"+itemNumber+"</p>" +
                                    "<p class='z_numberlist_content'>" +
                                    "<span class='z_number_price'>"+itemPrice/100+"元／年"+"</span>" +
                                    "<span class='z_number_selected z_numberbuy_selected numberClick'>选这个号</span>" +
                                    "</p>" +
                                    "</div>"+"</li>";
                            });
                            $(".f_searchnumber_list ul").append(html);
                        }
                    }
                    ,error:function (response) {
                        console.log("response :"+response.code);
                    }
                })
            }



      </script>      
    </body>     
</html>