<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="礼品卡" />
        <title>礼品卡</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
        <script type="text/javascript" th:src="@{../js/util.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_givefriend_top f_recive_numbercard">
                <span class="z_giverfriend_send">好开森，赶紧来领取！</span>
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img th:src="${user.headimgurl}"  style="border-radius:50%;">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi"   th:text="${user.nickname}+'送给你靓号'">旅人<br>送给你靓号</span>
                    <span class="z_choice_goodnumber">祝您<br  th:text="${giftCardRecord.message}"></span>
                    <span class="z_choicethree z_recivethreefour"  th:text="${card.number}">95013333310001</span>
                    <ul class="z_reciveimg">
                        <li>
                            <a href="tel:95013780000">
                                <img th:src="@{/images/giftImage/recivecard_01.png}" >
                                <br>
                                拨打电话
                            </a>                            
                        </li>
                        <li>
                            <img th:src="@{/images/giftImage/recivecard_02.png}" >
                            <br>
                            来电留言箱
                        </li>
                        <li>
                            <img th:src="@{/images/giftImage/recivecard_03.png}" >
                            <br>
                            防骚扰
                        </li>
                    </ul>                
                </div>                          
           </div>
           <div class="z_choice_flowerimg">
               <img th:src="@{/images/giftImage/give_05.png}" >
            </div>
            <div class="longpic">
                    <span style="color:#fff;border:1px solid #fff;font-size:.5rem;text-align: center;margin:1rem auto 0;border-radius:.5rem;width:6rem;height:1.1rem;line-height:1.1rem;display:block;">领取我的靓号</span>
            </div>
      </div> 
      
       <!--点击领取我的靓号弹窗-->
       <div class="selectnumber_show">
            <div class="tb_overflay"></div>
            <div class="selectnum_showcontent">
                <p class="z_selectnum_img">
                    <img th:src="@{/images/giftImage/close.png}" >
                </p>
                <p class="z_getgoodnumber">领取我的靓号</p>
                <div class="z_selectnuminput">
                    <input type="tel" name="phone" placeholder="手机号码">
                    <input type="tel"  id="code" name="" placeholder="验证码">
                    <input type="button" id="getcode" name="" value="获取验证码" style="position: absolute;top:3.7rem;">
                    <span class="z_number_get" >领取</span>
                </div>
                <!--错误提示-->
                <div class="f_successwrap" style="display: none">
                    <div class="f_successlightbox"></div>
                    <span class="z_successtext">122222</span>
                </div>
            </div>
        </div>

      <script th:inline="javascript">
          var openid = [[${openid}]];
          //var pathSource=[[${path}]];
          //var openid=[[${giftCardRecord.senderOpenid}]];
          var giftCardRecordId=[[${giftCardRecord.id}]];
          var giftCardId=[[${card.id}]];
          var pathSource="/receiveCardSuccess?giftCardRecordId="+giftCardRecordId+"&giftCardId="+giftCardId+"&openid="+openid;
          $(function(){
              $("#getcode").click(function(){
                  $(".z_successtext").text("test");
                  var  phone=$("input[name='phone']").val();
                  console.info("phone is :"+phone);
                  if(!util.validPhone(phone)){
                      console.info("phone is not valid");
                      util.showText("请输入正确的手机号码!",$(".z_successtext"));return;
                  }
                  $.ajax({
                      url:"/sendCode",
                      type:"POST",
                      data:{openid:openid,phone:phone},
                      dataType:"JSON"
                  }).done(function(result){
                      if(result.code!=200){
                          util.showText(result.msg,$(".z_successtext"));
                      }
                  })
              });
          });
          $(".z_number_get").click(function(){
              var  phone=$("input[name='phone']").val();
              if(!util.validPhone(phone)){
                  util.showText("请输入正确的手机号码!",$(".z_successtext"));return;
              }
              var  code=$("#code").val();
              $.ajax({
                  url:"/validPhone",
                  data:{openid:openid,code:code,phone:phone},
                  dataType:"JSON"
              }).done(function(result){
                  if(result.code==200){
                      window.location.href=pathSource;
                  }else {
                      console.log("result is:"+result.msg);
                      util.showText(result.msg,$(".z_successtext"));
                  }
              });
          });
      </script>
          <script type="text/javascript">
               //点击选这个号之后的弹窗
               $(".longpic").click(function(){
                 $(".selectnumber_show").show();  
               });
    
               $(".z_selectnum_img").click(function(){
                $(".selectnumber_show").hide(); 
               });
               $(".tb_overflay").click(function(){
                $(".selectnumber_show").hide();    
               })
          </script>

           <script type="text/javascript">  
            var wait=60;  
            function time(o) {  
                    if (wait == 0) {  
                        o.removeAttribute("disabled");            
                        o.value="获取验证码";  
                        o.style.color = "#1d68a9";
                        wait = 60;  
                    } else {  
                        o.setAttribute("disabled", true);  
                        o.value="" + wait + "s后重新获取"; 
                        o.style.color = "#6a7388";
                        wait--;  
                        setTimeout(function() {  
                            time(o)  
                        },  
                        1000)  
                    }  
                }  
            document.getElementById("getcode").onclick=function(){time(this);}
          </script>

    </body>     
</html>