<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="礼品卡" />
        <title>礼品卡</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_givefriend_top f_recive_numbercard">
                <span class="z_giverfriend_send">好开森，赶紧来领取！</span>
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img th:src="${user.headimgurl}"  style="border-radius:50%;">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi" th:text="${user.nickname}+'送给你的号码卡'">流浪的人<br>送给你的号码卡</span>
                    <span class="z_choice_goodnumber">祝您<br   th:text="${giftCardRecord.message}"></span>
                    <span class="z_choicethree z_recivethreefour"   th:text="${'可选择'+card.regexName}">能选三连号、四连号</span>
                    <ul class="z_reciveimg">
                        <li>
                            <a href="tel:77889780000">
                                <img th:src="@{/images/giftImage/recivecard_01.png}" >
                                <br>
                                拨打电话
                            </a>
                        </li>
                        <li>
                            <img th:src="@{/images/giftImage/recivecard_02.png}" >
                            <br>
                            来电留言箱
                        </li>
                        <li>
                            <img th:src="@{/images/giftImage/recivecard_03.png}" >
                            <br>
                            防骚扰
                        </li>
                    </ul>                
                </div>                          
           </div>
           <div class="z_choice_flowerimg">
               <img th:src="@{/images/giftImage/give_05.png}" >
            </div>
            <div class="longpic">
                    <span>
                        <a th:onclick="'javascript:toCardPage('+${card.id}+')'" style="color:#fff;border:1px solid #fff;font-size:.5rem;text-align: center;margin:1rem auto 0;border-radius:.5rem;width:6rem;height:1.1rem;line-height:1.1rem;display:block;">选择我的靓号</a>
                    </span>
            </div>  
      </div>     
    </body>
    <script th:inline="javascript">
        var openid=[[${openid}]];
        var giftCardRecord=[[${giftCardRecord.id}]];
        function toCardPage (id) {
            console.log("toCardPage");
            window.location.href="/chooseRegexCard?cardId="+id+"&openid="+openid+"&giftCardRecordId="+giftCardRecord;
        }
    </script>
</html>