<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="选择号码卡" />
        <title>选择号码卡</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap gift_wrap">
         <div class="f_choicenumber">
                <ul>
                    <li class="z_choice_one">
                        <div class="z_choiceone_content">
                            <div class="z_choiceone_top">
                                <span class="z_choiceone_title">大吉大利卡<br><em>可选择生日号、三连号</em></span>
                                <span class="z_choiceone_img">
                                    <img src="images/cardimg_05.png">
                                </span>
                            </div>
                            <div class="z_choiceone_bottom">
                                <span class="z_choiceone_requiretime">号码有效期：一年</span>
                                <span class="z_choiceone_activedcard">
                                    <a href="">选这个卡</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="z_choice_two">
                        <div class="z_choiceone_content">
                            <div class="z_choiceone_top">
                                <span class="z_choiceone_title z_choicetwo_title">大吉大利卡<br><em>可选择生日号、三连号</em></span>
                                <span class="z_choiceone_img">
                                    <img src="images/cardimg_06.png">
                                </span>
                            </div>
                            <div class="z_choiceone_bottom">
                                <span class="z_choiceone_requiretime">号码有效期：一年</span>
                                <span class="z_choiceone_activedcard">
                                     <a href="">选这个卡</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="z_choice_three">
                        <div class="z_choiceone_content">
                            <div class="z_choiceone_top">
                                <span class="z_choiceone_title z_choicethree_title">大吉大利卡<br><em>可选择生日号、三连号</em></span>
                                <span class="z_choiceone_img">
                                    <img src="images/cardimg_08.png">
                                </span>
                            </div>
                            <div class="z_choiceone_bottom">
                                <span class="z_choiceone_requiretime">号码有效期：一年</span>
                                <span class="z_choiceone_activedcard">
                                        <a href="">选这个卡</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="z_choice_four">
                        <div class="z_choiceone_content">
                            <div class="z_choiceone_top">
                                <span class="z_choiceone_title z_choicefour_title">大吉大利卡<br><em>可选择生日号、三连号</em></span>
                                <span class="z_choiceone_img">
                                    <img src="images/cardimg_10.png">
                                </span>
                            </div>
                            <div class="z_choiceone_bottom">
                                <span class="z_choiceone_requiretime">号码有效期：一年</span>
                                <span class="z_choiceone_activedcard">
                                        <a href="">选这个卡</a>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
         </div>
      </div>    
    </body>     
</html>