<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="95号送朋友" />
        <title>95号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>   
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_qrcode_top">
               <img src="images/qrcodeimg.jpg">
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img src="images/pic.png">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi">咪咕虾</span>
                    <span class="z_choicethree">送给你30元代金券，赶紧来领取吧！</span>
                    <span class="z_gumi" style="padding-top:0;">可用于购买95号码</span>
                    <span class="shareinfo_img">
                        <em>￥<b>30</b></em>
                        <em>有效期：2019.08.22—2020.08.22</em>
                    </span> 
                    <span class="z_sharenumber">领取</span>             
                </div>                                           
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/give_05.png">
           </div> 
           <div class="longpic">
               <span>长按图片保存到相册</span>
            </div>        
      </div>     
    </body>     
</html>