<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="95号送朋友" />
        <title>95号送朋友</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/gift.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>   
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_qrcode_top">
               <img src="images/giftImage/qrcodeimg.jpg">
           </div>
           <div class="z_giverfriend_content">
                <p class="z_friend_personimg">
                    <img  th:src="${senderUser.headimgurl}">
                </p>
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi" th:text="${senderUser.nickname}">咪咕虾</span>
                    <span class="z_choicethree" th:text="'送给你'+(${coupon.amount}/10)+'元代金券，赶紧来领取吧'">送给你30元代金券，赶紧来领取吧！</span>
                    <span class="z_gumi" style="padding-top:0;">可用于购买95号码</span>
                    <span class="shareinfo_img">
                        <em>￥<b  th:text="(${coupon.amount}/10)">30</b></em>
                        <em  th:text="'有效期：'+${coupon.effectiveTime}+'-'+${coupon.endTime}">有效期：2019.08.22—2020.08.22</em>
                    </span>

                    <form th:action="@{/testReceive.html}"  th:method="post" id="parmForm">
                        <input style="display:none" id="coupon" name="coupon" th:value="${coupon.id}">
                        <input style="display:none" id="senderUser" name="senderUser" th:value="${senderUser.openid}">
                        <input style="display:none" id="receiveUser" name="receiveUser" th:value="${receiveUser.openid}">
                    </form>
                    <span class="z_sharenumber">领取</span>             
                </div>                                           
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
           </div> 
           <div class="longpic">
               <span>长按图片保存到相册</span>
            </div>        
      </div>     
    </body>
    <script th:inline="javascript">
        var openid='oIFn90393PZMsIt-kprqw0GWmVko';
        var sender=[[${senderUser.openid}]];
        var coupon=[[${coupon.id}]];
        $(".z_sharenumber").click(function(){
            window.location.href="/couponReceive?coupon="+coupon+"&senderUser="+sender+"&receiveUser="+openid;
        })
        </script>
</html>