<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="福利" />
        <title>福利</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>  
      <div class="wrap give_wrap">
           <!--<div class="f_goodnumber_top f_sharenumber_success">-->
                <!--<span class="z_giverfriend_send z_goodnumber_number">进入个人中心—我的安全号&nbsp;<a href="/oauth/admin/OwnerSafeNumber.html">查看></a></span>-->
           <!--</div>-->
           <div class="z_giverfriend_content" style="margin-top:.5rem;">
                <div class="z_givefriend_listcontent">
                    <span class="z_gumi"></span>
                    <span class="shareinfo_img" style="margin-top:0;">
                        <em>￥<b  th:text="(${coupon.amount}/100)">30</b></em>
                        <em  th:text="'有效期：'+${coupon.effectiveTime}+'-'+${coupon.endTime}">有效期：2019.08.22—2020.08.22</em>
                    </span>           
                </div>  
                <div class="z_choice_wxdoting" style="margin-top:2rem;">
                    <span class="z_send_wxfriend"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU1NjU5NjAwMA==&scene=126#wechat_redirect">关注微信公众号</a></span>
                    <span class="z_dothing_share"><a href="/testCard">马上去使用</a></span>
                </div>                             
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
            </div> 
      </div>     
    </body>     
</html>