<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="已被使用" />
        <title>已被使用</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
        <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       	<style type="text/css">
       		.f_used{text-align: center;font-size:.5rem;}
       		.f_used img{width: 3.5rem;margin:0 auto;padding-top:.8rem;margin-bottom:.3rem;}
       		.f_usednumber span{display:block;margin-top:3rem;}
       	</style>
    </head>
    <body>  
      <div class="wrap give_wrap">
           <div class="f_qrcode_top">
               <img src="images/giftImage/qrcodeimg.jpg">
           </div>
           <div class="z_giverfriend_content f_used">
           	   <img src="images/giftImage/gift_used_03.png">
               <p>已被他人使用</p>
           </div>
           <div class="z_choice_flowerimg">
                <img src="images/giftImage/give_05.png">
           </div> 
           <div class="longpic f_usednumber">
               <span>我也要用咕咕</span>
            </div>        
      </div>     
    </body>
    <script th:inline="javascript">
        $(".f_usednumber").click(function() {
            //点击我也要用咕咕
            window.location.href="/oauth/regex/buy_zhizun.html";
        });
    </script>
</html>