body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3346 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3347 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u3348 {
  position:absolute;
  left:133px;
  top:21px;
  width:114px;
  height:35px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3349 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u3350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u3350 {
  position:absolute;
  left:8px;
  top:21px;
  width:29px;
  height:28px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u3351 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u3352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3352 {
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:568px;
}
#u3353 {
  position:absolute;
  left:2px;
  top:276px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:447px;
  background:inherit;
  background-color:rgba(52, 129, 235, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3354 {
  position:absolute;
  left:21px;
  top:105px;
  width:334px;
  height:447px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:216px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3357 {
  position:absolute;
  left:39px;
  top:482px;
  width:293px;
  height:42px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3358 {
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u3359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3359 {
  position:absolute;
  left:159px;
  top:74px;
  width:60px;
  height:60px;
}
#u3360 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
}
#u3361 {
  position:absolute;
  left:62px;
  top:144px;
  width:253px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3362 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u3363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u3363 {
  position:absolute;
  left:62px;
  top:174px;
  width:253px;
  height:37px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3364 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u3365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u3365 {
  position:absolute;
  left:39px;
  top:297px;
  width:300px;
  height:83px;
}
#u3366 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:91px;
}
#u3367 {
  position:absolute;
  left:49px;
  top:295px;
  width:115px;
  height:91px;
}
#u3368 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:26px;
}
#u3369 {
  position:absolute;
  left:153px;
  top:315px;
  width:193px;
  height:52px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:26px;
}
#u3370 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
