<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="使用指南" />
        <title>使用指南</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css"  th:href="@{/css/guide.css}"/>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
    </head>
    <body>
        <div class="wrap">
                <div class="f_title">
                    在您通话时用<span class="z_numbertext">95013安全号</span>代替您的真实号码，<br>从而保护您的号码隐私。
                </div>

                <div class="f_onlinetel">
                    <span class="z_telbj">接听电话</span>
                </div>

                <div class="f_call95013">
                    <p class="f_callleft">
                        对方拨打您的95013安全号时，您的手机会显示<span class="z_950132">950132</span>+对方号码的来电。
                    </p>
                    <img th:src="@{/images/guide/guide_03.png}">
                </div>

                <div class="f_onlinetel">
                    <span class="z_telbj">拨打电话</span>
                </div>


                <div class="f_bohaonumber">                    
                    <p class="f_bohaoleft">
                        <span class="f_first">第1步</span>
                        <span class="z_bohaonum">在拨号键盘输入<span class="z_950132">950132</span>+对方号码</span>

                    </p>
                    <img th:src="@{/images/guide/guide_06.png}">>
                </div>
                <div class="z_tip">*需使用安全号绑定的手机号进行拨打</div>

                <div class="f_onlinetel f_onlinetel01">
                   &nbsp;
                </div>

                <div class="f_bohaonumber">  
                    <img th:src="@{/images/guide/guide_10.png}">
                     <p class="f_bohaoleft">
                        <span class="f_first">第2步</span>
                        <span class="z_bohaonum">对方的来电显示为您的<span class="z_950132">95013安全号</span></span>
                    </p>
                </div>

                <div class="f_onlinetel f_onlinetel01">
                    <span class="z_telbj">温馨提示</span>
                </div>
       </div>

          <p class="f_wxtip">
                    1、号码到期后，将不能进行通话。您可以选择<span class="z_03bcf2">延期</span>或重新购买安全号<br>
                    2、可同时拥有多个安全号，在不同场景下可使用对应的号码<br>
                    3、同时有多个安全号，外呼时将默认用最新的安全号呼叫<br>
                    4、拨打电话按照当地95013资费收费，接听电话是按照用户手机号码原由套餐资费进行收取的！（可详询当地运营商）<br>
                    5、如有任何问题，可拨打客服热线 <span class="z_03bcf2">95013780000</span>
          </p> 

          <div class="f_onlinetel z_line">&nbsp;</div>

          <p class="f_95013number">95013安全号是您真实联系方式的忠诚保护伞</p> 

         <div class="f_onlinetel z_line">&nbsp;</div>   
    </body>     
</html>