<!DOCTPYE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="添加常用号码" />
        <title>添加常用号码</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/flexible.js"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>
      <div class="wrap f_404wrap">         
          <div class="f_addtelphone">
            <p>
              手机号码:
              <input typr="tel" id="" name="" />
            </p>
          </div>         
          <p class="f_bindsuc_share f_addtel">
            <a href="javascript:void(0);">确认</a>
          </p>
          <p class="f_bindsuc_sharebj">填充背景色</p>
      </div>
    </body>     
</html>