<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="绑定成功" />
        <title>绑定成功</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/safenumber.js}" th:async="yes"  th:inline="javascript"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>
       
    </head>
    <body>
      <div class="wrap">
          <div class="f_bingsuccess_img">
            <img src="images/bindsuccess_03.png" />
          </div> 
          <p class="f_bindsuc_number">
            <span>安全号码：</span>950135901234865
          </p>
          <p class="f_connect">
            <img src="images/bindsuccess_07.png" />
          </p>
          <p class="f_bindsuc_number z_bindnum">
            <span>绑定号码：</span>13466787750
          </p>

          <p class="f_bindsuc_share">
            <a href="javascript:void(0);">分享</a>
          </p>
          <p class="f_bindsuc_sharebj">填充背景色</p>

          <p class="f_sharetip">
            <img src="images/bindsuccess_11.png" />
          分享成功后，该安全号有效期延长<span>3</span>天
          </p>
          <p class="f_success_mynumber">
            <a herf="">我的安全号</a>
          </p>
      </div>

      <!--点击分享弹窗-->
      <div class="f_sharesuccess">
          <div class="tb_overflay"></div>
          <div class="f_sharecontent">
              <p class="f_shareclose">X</p>
              <p class="f_sharesucessimg">
                <img src="images/sharesuc_03.png" />
              </p>
              <p class="f_sharesuc_text">分享成功</p>
              <p class="f_sharesuc_95013">您的安全号95013*＊*＊*＊有效期延长3天</p>
              <p class="f_sharesuc_btn">
                <a href="">查看我的安全号</a>
              </p>
          </div>
      </div>
    </body>     
</html>