<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="Description" content="购买海牛助手" />
    <title>购买海牛助手</title>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="../css/safenumber.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/gift.css}" />
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/flexible.js"></script>
    <script type="text/javascript" src="../js/flexible_css.js"></script>
    <script type="text/javascript" src="../js/safenumber.js"></script>
    <script type="text/javascript" src="../js/wexinPay.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>

   <!-- <script type="text/javascript" src="../js/app.js"></script>-->
</head>
<body>
<div class="wrap f_404wrap">
    <form id="sendPhone" th:action="@{/findStatus.html}"  th:method="post">
    <p class="f_zhizuninput">
        <!--<input type="tel" placeholder="请输入需要海牛助手的手机号码"   name="myNumber" style="width:92%"/>-->

        <input type="tel"  th:value="${phone}" placeholder="请输入需要海牛助手的手机号码" style="width:92%" name="myNumber" th:onfocus="'javascript:toNull('+${phone}+')' " th:onblur="'javascript:toValue('+${phone}+')' " />
        <input style="display:none" id="phoneType" name="phoneType" value="ZhiZun" />
        <input style="display:none" id="couponRecordId" name="couponRecordId" />
        <input style="display:none"  id="refreshed" value="no">
        <br/>
        海牛助手将与输入的手机号进行绑定，呼叫海牛助手手机号将接听来电
    </p>
    </form>
    <div class="f_tabwrap">
        <div class="f_zhizuntab">
            <ul >
                <li  th:each="reg:${regexs}" th:text="${reg.value}" th:value="${reg.key}"> AABB</li>
            </ul>
        </div>
        <div class="f_zhizuntabcon">
            <ul>
                <li>
                    <div class="f_zhizuntablist">
                        <p class="f_zhizuninput"  style="position:relative;">
                            <input type="tel" placeholder="请输入需要查找的海牛助手号" style="width:97%"  class="searchNumber" name=""/>
                            <img src="../images/zoom.png" id="search" style="width:.6rem;position:absolute;right:.2rem;top:.45rem" />
                            <!--<input type="button" value="搜索" id="search" name="search" class="z_searchnumber_btn" style="border:none;color:#4c4c4c;font-size:.5rem;background:transparent;margin-left:.2rem">-->
                        </p>
                        <dl class="f_95013listnum" style="overflow:hidden;">
                            <dd th:each="n:${numbers}" th:text="${n.number}">9501378110</dd>
                        </dl>
                        <p id="showMore" style="color:#4c4c4c;font-size:.45rem;text-align: center;">加载更多</p>
                    </div>
                    <div class="f_dayscontent f_buysafenumber_content" style="margin-left: 0;padding: 0 .4rem;">
                        <dl id="tab1">
                            <dd th:class="${p.getProductType()=='1'?'f_tiyan':p.productType =='2'?'f_discount':p.productType =='3'?'f_sales':''}" th:each="p:${products}" style="margin-right: .23rem;">
                                <p class="z_requiredays" th:text="${'有效期'+p.validDay+'天'}"></p>
                                <p th:text="${'￥'+p.productPrice/(100*1.0)}"></p>
                                <p style="display: none;" th:text="${p.validDay}"></p>
                                <p class="z_limits3"><del th:text="${'￥'+p.initPrice/(100*1.0)}"></del><span th:text="${p.productLimit==0?'不限次数':'限购'+p.productLimit+'次'}">限购3次</span></p>
                                <p style="display:none"  th:text="${p.leaveMessage}" th:title="${p.message}" ></p>
                                <p class="productId" th:text="${p.id}" style="display: none"></p>
                            </dd>
                        </dl>
                    </div>

                    <div class="clearFix"></div>
                    <div class="f_addtelphone t_padding_top">
                        <p class="f_weixin t_margin_top">
                            <img src="../images/weixin.png"/>微信支付
                        </p>
                    </div>
                    <p class="wirte_casher" style="width:9.2rem;margin-left:0;border-radius:0;padding:.4rem;margin-bottom:2rem;border-top:1px solid #aeb5c2;border-bottom:1px solid #aeb5c2;font-size:.5rem;box-shadow:none;">
                        <span class="z_cashjuan" style="color: #6a7388;">
                            <img src="../images/casher.png" style="width:.8rem;margin-right:.3rem;"/>现金券
                        </span>
                        <span class="z_cashselect"></span>
                        <span class="z_casharrow">></span>
                    </p>
                    <div style="position:fixed;bottom:0;">
                        <p class="f_bindsuc_share f_fastpay" style="margin-left: .22rem;margin-top: 1rem;">
                            <a href="javascript:pay()">立即支付（<em>¥1</em>）</a>
                        </p>
                        <p class="f_bindsuc_sharebj f_fastpay" style="margin-left: .22rem;display: none" >填充背景色</p>
                    </div>

                </li>
            </ul>
        </div>
        <!--点击现金券弹窗-->
        <div class="f_cashshow" >
            <div class="tb_overflay"></div>
            <div class="f_cashcontent">
                <div class="f_cashclose">
                    <span>现金券</span><img th:src="@{/images/giftImage/close.png}">
                </div>
                <div class="cash_list">
                    <ul>
                        <li  th:if="${p.giftCoupon}" th:each="p:${giftRecord}">
                            <span>￥<em th:text="${#numbers.formatDecimal(p.giftCoupon.amount/100.0,0,2)}">10</em></span>
                            <!--<span>￥<em th:text="${p.giftCoupon.amount/100}">10</em></span>-->
                            <span th:text="${'有效期'+#dates.format(p.giftCoupon.effectiveTime,'yyyy.MM.dd')+'-'+#dates.format(p.giftCoupon.endTime,'yyyy.MM.dd')}">有效期：2019.08.22—2020.08.22</span>
                            <span class="giftRecordId" th:text="${p.id}" style="display: none"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var openid=[[${user.openid}]];
        var form = document.getElementById('sendPhone');
        var totalPrice;
        var  price=$("#tab1 dd:eq(0)").find("p:eq(1)").text();
        var couponRecordId='';
        var clickPage=0;
        var ddIndex=0;
        var clicktag = 0;  //微信支付标志
        $(function() {
            $(".f_zhizuntab ul li:eq(0)").addClass("z_actived");
            var e=document.getElementById("refreshed");
            if(e.value=="no"){e.value="yes";}
            else{e.value="no";location.reload();}
            initClick();
            $(".f_zhizuntab ul").find("li").click(function () {
                //format page
                clickPage=0;
                $("#showMore").show();
                $(".f_zhizuntab ul").find("li").removeClass("z_actived");
                $(this).addClass("z_actived");
                /** 加载 该套餐号码**/
                var regexId = $(this).attr("value");
                console.log(regexId);
                var data = {};
                data.regexId = regexId;
                data.number = '';
                data.page = 0;
                var s=Math.random()*10;
                data.size = 6;
                $.ajax({
                    url: "/changeModule?rnd="+s,
                    type: "POST",
                    data: data,
                    dataType: "JSON"
                }).done(function (response) {
                    if (response.code == 200) {
                        var arr = response.data;
                        var numberModule = arr[0];
                        var productModule = arr[1];
                        $(".f_95013listnum").text("");
                        $("#tab1").text("");
                        $.each(numberModule, function (index, item) {
                            $(".f_95013listnum").append($("<dd></dd>").text(item.number));
                        });
                        $.each(productModule, function (index, item) {
                            var dd = $("<dd></dd>").addClass(item.productType == 1 ? "f_tiyan" : item.productType == 2 ? "f_discount" : "f_sales").css("margin-right", ".23rem");
                            $(dd).append($("<p></p>").addClass("z_requiredays").text("有效期" + item.validDay + "天"));
                            $(dd).append($("<p></p>").text('￥' + item.productPrice / (100 * 1.0)));
                            $(dd).append($("<p></p>").text(item.validDay).hide());
                            $(dd).append($("<p></p>").addClass("z_limits3").append($("<del></del>").text('￥' + item.initPrice / (100 * 1.0)), $("<span></span>").text(item.productLimit==0?'不限次数':'限购'+item.productLimit+'次')));
                            $(dd).append($("<p></p>").css("display","none").attr("title",item.message).text(item.leaveMessage));
                            $(dd).append($("<p></p>").css("display","none").addClass("productId").text(item.id));
                            $("#tab1").append(dd);
                        });
                        initClick();
                    }
                })
            });

            // $(".searchNumber").bind("input propertychange", function () {
            /** 点击搜索**/
            $("#search").click(function () {
                var data = {};
                var regexId = $(".f_zhizuntab ul").find(".z_actived").attr("value");
                data.regexId = regexId;
                data.number = $(".searchNumber").val();
                data.page = 0;
                data.size = 6;
                var s=Math.random()*10;
                console.log("number:"+data.number);
                var  searchValue=$(".searchNumber").val();
                if(searchValue==''){
                    alert("请输入想要查找的海牛助手号。");
                }else{
                    $("#showMore").hide();
                    $.ajax({
                        url: "/changeModule?rnd="+s,
                        type: "POST",
                        data: data,
                        dataType: "JSON"
                    }).done(function (response) {
                        if (response.code == 200) {
                            var arr = response.data;
                            var numberModule = arr[0];
                            $(".f_95013listnum").text("");
                            $.each(numberModule, function (index, item) {
                                $(".f_95013listnum").append($("<dd></dd>").text(item.number));
                            });
                            initClick();
                        }
                    });
                }
            });
            $("#showMore").click(function () {
                var data = {};
                var regexId = $(".f_zhizuntab ul").find(".z_actived").attr("value");
                data.regexId = regexId;
                data.number = '';
                clickPage= clickPage+1;
                data.page = clickPage;
                data.size = 6;
                var s=Math.random()*10;
                console.log("clickPage:"+clickPage);
                $.ajax({
                    url: "/changeModule?rnd="+s,
                    type: "POST",
                    data: data,
                    dataType: "JSON"
                }).done(function (response) {
                    if (response.code == 200) {
                        var arr = response.data;
                        var numberModule = arr[0];
                        $.each(numberModule, function (index, item) {
                            $(".f_95013listnum").append($("<dd></dd>").text(item.number));
                        });
                       // initClick();
                    }
                });
            });
        });
        function pay(){
            if(totalPrice==0){
                var pay = {};
                var days = $("#tab1 dd").eq(ddIndex).find("p").eq(2).text();
                var productId = $("#tab1 dd").eq(ddIndex).find("p").eq(5).text();
                var phone = $("input[name='myNumber']").val();
                var uidNumber = $(".f_95013listnum").find(".z_current").text();
                pay.openid = openid;
                pay.totalFee = 0;
                pay.phone = phone;
                pay.extend = 0;
                pay.days = days;
                pay.uidNumber = uidNumber;
                pay.productId = productId;
                $.ajax({
                    url:"/bindNumberZZ",
                    type:"POST",
                    data:pay,
                    dataType:"JSON"
                }).done(function(result){
                    if(result.code!=200){
                        //util.showText(result.msg,$(".z_successtext"));
                        alert("购买失败，请联系客服。");
                    }
                });
                form.submit();
            }else{
                justPay();
            }
        }
        function justPay(){
            if (clicktag == 0) {  //判断标志
                clicktag = 1;   //进行标志，防止多次点击
                setTimeout(function () {
                    clicktag = 0
                }, 4000);
                var phone = $("input[name='myNumber']").val();
                var uidNumber = $(".f_95013listnum").find(".z_current").text();
                if (!util.validPhone(phone)) {
                    //util.showText("不是有效的手机号码!",$(".z_successtext"));
                    alert("不是有效的手机号码!");
                    return;
                }
                if (uidNumber == "" || uidNumber == null) {
                    alert("当前套餐中没有可以绑定的号码!");
                    return;
                }
                //var val = $("#tab1 dd p:eq(1)").text();
                var val =$(".f_fastpay em").text();
                console.log("val:"+val);
                var days = $("#tab1 dd").eq(ddIndex).find("p").eq(2).text();
                var productId = $("#tab1 dd").eq(ddIndex).find("p").eq(5).text();
                var pay = {};
                pay.openid = openid;
                pay.totalFee = val;
                pay.phone = phone;
                pay.extend = 0;
                pay.days = days;
                pay.uidNumber = uidNumber;
                pay.productId = productId;
                var json = payUtil.payOrder(pay);
                if (json.code != 200) {
                    alert(json.msg);
                    return;
                } else {
                    json = json.data;
                }
                if (typeof WeixinJSBridge == "undefined") {
                    if (document.addEventListener) {
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady(json), false);
                    } else if (document.attachEvent) {
                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady(json));
                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady(json));
                    }
                } else {
                    onBridgeReady(json)
                }
            }
        }
        //更改号码
        function toNull (number) {
            console.log("this is to null:"+number);
            var  phone=$("input[name='myNumber']").val();
            console.log("this is to null myNumber:"+phone);
            if(phone ==number){
                $("input[name='myNumber']").val("");
            }
        }
        function toValue (number) {
            console.log("this is to value:"+number);
            var  phone=$("input[name='myNumber']").val();
            console.log("this is to null myNumber:"+phone);
            if(phone ==''){
                $("input[name='myNumber']").val(number);
            }
        }
        /** 微信支付  start **/
        function onBridgeReady(json){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',json,
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        form.submit();
                    }else {
                    }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                }
            );
        }

        function initClick(){
            $(".f_95013listnum dd:eq(0)").addClass("z_current");
            //$("#tab1 dd:eq(0)").addClass('f_tiyan f_tiyan_active ');
            //console.log("class   is:"+$("#tab1 dd:eq(0)").attr("class"));
            var classNew=$("#tab1 dd:eq(0)").attr("class");
            $("#tab1 dd:eq(0)").addClass(classNew+"_active");
            $("#tab1 dd:eq(0)").find("p:eq(0)").addClass("z_requiredays_active");
            $("#tab1 dd:eq(0)").find("p:eq(1)").addClass("z_requiredays_active");
            $("#tab1 dd:eq(0)").find("p:eq(3)").addClass("z_limits3_active");
            var  message=$("#tab1 dd:eq(0)").find("p:eq(4)").attr("title");
            var  leaveMessage=$("#tab1 dd:eq(0)").find("p:eq(4)").text();
            $(".leaveMessage").text(leaveMessage);
            $(".message").text(message);
           // $(".f_fastpay em").text(price);
           // $(".z_messagemoney").text(price);
            //couponToNull
            $(".z_cashselect").text("");
            couponRecordId='';
            $("#couponRecordId").val(couponRecordId);
            $("#tab1 dd:last").removeAttr("style");
            var  price666=$("#tab1 dd:eq(0)").find("p:eq(1)").text();
            $(".f_fastpay em").text(price666);
            $(".z_messagemoney").text(price666);
            // $(".f_sales_active").trigger('click');
            // $(".f_discount_active").trigger('click');
            //  $(".z_current").trigger('click');
            //  $(".z_current").click();
            // $(".f_discount_active").click();
            // $(".f_tiyan_active").click();
            $("#tab1 dd").click(function(){
                console.log("init $(this).index()："+$(this).index());
                ddIndex=$(this).index();
                var  priceNew=$(this).find("p:eq(1)").text();
                $(".f_fastpay em").text(priceNew);
               // $(".z_messagemoney").text(priceNew);
                var  message=$(this).find("p:eq(4)").attr("title");
                var  leaveMessage=$(this).find("p:eq(4)").text();
                $(".leaveMessage").text(leaveMessage);
                $(".message").text(message);
                $(".productId").text($(this).find("p:eq(5)").text());
                var  obj=$("#tab1 dd");
                console.log("class   is:"+$(this).attr("class"));
                var classNew2=$(this).attr("class").split(' ')[0];
                $(this).addClass(classNew2+'_active').addClass(classNew2);
                $(this).find("p:eq(0)").addClass("z_requiredays_active");
                $(this).find("p:eq(1)").addClass("z_requiredays_active");
                $(this).find("p:eq(3)").addClass("z_limits3_active");
                //$("#tab1 dd").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                if($(this).is(obj.get(2))){
                    $("#tab1 dd:eq(1)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                    $("#tab1 dd:eq(0)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                }else if($(this).is(obj.get(1))){
                    $("#tab1 dd:eq(0)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                    $("#tab1 dd:eq(2)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                }else{
                    $("#tab1 dd:eq(1)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                    $("#tab1 dd:eq(2)").removeClass("f_tiyan_active").removeClass("f_discount_active").removeClass("f_sales_active");
                }
            });
            // $(".f_95013listnum dd").click(function(){
            $(".f_95013listnum").on('click', '.f_95013listnum dd', function() {
                $(".f_95013listnum dd").removeClass("z_current");
                $(this).addClass("z_current");
            });
        }

        //点击现金券弹窗js
        $(".wirte_casher").click(function(){
            $(".f_cashshow").show();
        });
        $(".cash_list ul li").click(function(){
            var normalFirst=$(".f_fastpay em").text()+"";
            console.log("normalFirst:"+normalFirst);
            var normalPrice = normalFirst.substring(1);  //默认的套餐价格
            console.log("normalPrice:"+normalPrice);
            //var normalPrice1 = $(".f_fastpay em").text(price);
            var selCash= $(this).find("span em").text();
            //var selCshe1 = $(this).find("span:eq(0)").text();
            couponRecordId=$(this).find(".giftRecordId").text();
            console.log("normalPrice - selCash:"+normalPrice+"-"+selCash);
            totalPrice = (normalPrice - selCash).toFixed(2);
            $(".z_cashselect").text("已选择：￥" + selCash);
            $(".f_cashshow").hide();
            if(totalPrice<0){
                totalPrice=0;
            }
            $(".f_fastpay em").text("￥"+totalPrice);
            $("#couponRecordId").val(couponRecordId);
            // var salePrice= "=" + normalPrice1 + "-" + "现金券" + selCshe1;
            // $(".z_price").text(salePrice);
        });
        $(".f_cashclose").click(function(){
            $(".f_cashshow").hide();
        });
        $(".tb_overflay").click(function(){
            $(".f_cashshow").hide();
        });

    </script>


</div>
</body>
</html>