<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8"/>
        <meta name="Description" content="咕咕详情" />
        <title>咕咕详情</title>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/safenumber.js}" th:async="yes"  th:inline="javascript"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
        <script type="text/javascript" src="js/flexible_css.js"></script>
        <script type="text/javascript" th:src="@{/js/util.js}"></script>
        <script type="text/javascript" th:src="@{/js/wexinPay.js}"></script>
       
    </head>
    <body>
      <div class="wrap f_addtelwrap">         
          <div class="f_safenumdetail">
              <ul>
                  <li>
                        <p class="z_safenumber"><img src="images/detail_03.png"/>咕咕: <span class="uidNumber" th:text="${user.smbms}" >778895901234785</span></p>
                        <p class="z_safenumber z_bindtel"><img src="images/detail_06.png"/>绑定手机号: <span class="userPhone" th:text="${user.number}">13466787750</span></p>
                        <p class="z_safetip">该咕咕由<span th:text="${user.userPhone}"></span>在<span th:text="${user.numberSub}"></span>为您提供！</p>
                  </li>
                  <li>
                        <p class="z_numberrequire">
                            有效期：<span th:text="${user.validDate}"></span>
                            <!--<a href="javascript:void(0);">号码延期</a>-->
                        </p>
                  </li>
                  <li>
                        <p class="z_numberrequire z_disturb">
                            免打扰
                            <span class="z_disturboff" th:style="${user.callRestict!='0'?'display: none':''}"></span>
                            <span class="z_disturbon" th:style="${user.callRestict=='0'?'display: none':''}"></span>
                        </p>
                  </li>
              </ul>
          </div>
          <p class="f_opentip">打开后，在设定时间内不接受来电！</p>
          <div class="f_detailcall">
              <p class="z_calltitle">
                  通话记录
                  <span class="isEmpty" style="display: none" th:text="${isEmpty=='1'?'0':record.nox}"></span>
                  <!--<span class="isEmpty" style="display: none" th:text="${isEmpty=='1'?'0':'77889'+record.recordNumberNotHide}"></span>-->
                  <a href="#" class="record recordmore">更多</a>
              </p>
          </div>
          <div class="f_detailcalllist">
                <ul th:style="${isEmpty==1?'display:none':''}">
                        <li>
                              <div class="f_callleft">
                                  <!--<span th:text="${isEmpty==1?0:record.recordNumber}"></span><br/>呼入&nbsp;通话时长：<span th:text="${isEmpty==1?0:record.recordDuration}"></span>-->
                                  <span th:text="${isEmpty==1?0:record.recordNumberNotHide}"></span><br/>呼入&nbsp;通话时长：<span th:text="${isEmpty==1?0:record.recordDuration}"></span>
                              </div>
                              <div class="f_callright t_topRight">
                                  <span th:text="${isEmpty==1?0:record.recordTime}"></span>
                              </div>
                            <div class="z_telmessageright f_callimg">
                                <span>
                                    <a   th:href="'tel:'+${isEmpty==1?0:'77889'+record.recordNumberNotHide}"><img src="images/message_09.png" /><br />拨打</a>
                                </span>
                            </div>
                        </li>
                </ul>
          </div>
          <div class="f_detailcall">
              <p class="z_calltitle">
                  电话留言
                  <span style="display: none" th:text="${isEmptyVoice==1?0:voice.voiceNumber}"></span>
                  <a href="#" class="voice voiceMore">更多</a>
              </p>             
          </div>
          <div class="f_detailcalllist">
                <ul th:style="${isEmptyVoice==1?'display:none':''}" >
                        <li>
                              <div class="f_callleft">
                                  来自：<span th:text="${isEmptyVoice==1?0:voice.voiceNox}"></span>&nbsp;&nbsp; <span th:text="${isEmpty==1?0:voice.recordDuration}"></span>”<br/>
                                  <span th:text="${isEmptyVoice==1?0:voice.recordTime}"></span>
                              </div>
                              <div class="z_telmessageright f_callimg">
                                    <span>
                                        <img class="mes" src="images/message_07.png" />
                                        <audio>
                                            <source th:src="${isEmptyVoice==1?0:voice.voicePath}"/>
                                        </audio>
                                        <br />收听</span>
                                    <!--<span>-->
                                        <!--<a   th:href="'tel:'+${isEmptyVoice==1?0:'77889'+voice.voiceNox}"><img src="images/message_09.png" /><br />拨打</a>-->
                                    <!--</span>-->
                              </div>
                        </li>
                </ul>
          </div>

          <!--打开免打扰弹出的消息-->
          <div class="f_opendisturb">
                <div class="tb_overflay"></div>
                <div class="f_dosturbwrap">
                    <div class="f_disturbcontent">
                                <h3>免打扰设置</h3>
                                <ul>
                                    <li>
                                        <label for="allday">
                                            <input type="radio" id="allday" name="disturb" checked="checked" value="1"/>全天免打扰
                                        </label>
                                    </li>
                                    <!--<li>-->
                                        <!--<label for="disturbtime">-->
                                            <!--<input type="radio" id="disturbtime" name="disturb" value="6"/>免打扰时间为：22:00  —  次日07:00-->
                                        <!--</label>-->
                                    <!--</li>-->
                                    <li>
                                        <label for="allcall">
                                            <input type="radio" id="allcall" name="disturb" value="6"/>全部来电转留言
                                        </label>
                                    </li>
                                    <li>
                                        <label for="notcall">
                                            <input type="radio" id="notcall" name="disturb" value="5"/>未接来电转留言
                                        </label>
                                    </li>
                                </ul>                    
                    </div>
                    <div class="f_detailcofirm">
                            <a href="javascript:void(0);">取消</a>
                            <a href="javascript:changeRelation();">确认</a>
                    </div>
                </div>
          </div>

          <!--点击号码延期弹窗-->
           <!--选择天数弹窗-->
            <div class="f_selectdays">
                <div class="tb_overflay"></div>
                <div class="f_select_content">
                    <div>
                        <span class="z_closeimg">
                        <img src="images/close.png" />
                        </span>
                        <span class="z_delaydays">选择天数</span>
                    </div>
                    <div class="f_dayscontent">
                    <ul>
                        <li th:class="${p.productType =='1'?'f_tiyan':p.productType =='2'?'f_discount':p.productType =='3'?'f_sales':''}" class="" th:each="p:${products}" >
                            <p class="z_requiredays" th:text="${'有效期'+p.validDay+'天'}"></p>
                            <p th:text="${'￥'+p.productPrice/(100*1.0)}"></p>
                            <p style="display: none;" th:text="${p.validDay}"></p>
                            <p class="z_limits3 z_limits3_active"><del th:text="${'￥'+p.initPrice/(100*1.0)}"></del><span th:text="${p.productLimit==0?'不限次数':'每日限购'+p.productLimit+'次'}">限购3次</span></p>
                            <p class="productId" th:text="${p.id}" style="display: none"></p>
                        </li>
                    </ul>
                    </div>

                    <div>
                    <p class="f_bindsuc_share f_fastpay">
                        <span id="Area" style="display: none;"></span>
                        <span id="validDays" style="display: none;"></span>
                        <span id="productId" style="display: none;"></span>
                        <a href="javascript:void(0);" class="fastPay">立即支付（<em>¥1</em>）</a>
                    </p>
                    <p class="f_bindsuc_sharebj f_fastpay" style="display: none">填充背景色</p>
                    </div>
                </div>
            </div>
      </div>

      <script th:inline="javascript">
          var record=[[${user.recordUnheard}]];
          var voice=[[${user.voiceUnheard}]];
          var clicktag = 0;  //微信支付标志
          var resultChange="changeSuccess";
          var openid=[[${openid}]];
          user =[[${user}]];
        $(function(){
            console.log("isEmpty is"+$(".isEmpty").text());
            console.log("record is:"+[[${record}]]);
            console.log("recordSize is:"+[[${recordSize}]]);
            console.log("voiceSize is:"+[[${voice}]]);
             $(".record").click(function(){
                 toCallList($(this));
             });
             $(".voice").click(function(){
                 toMessageList($(this));
             });
            initialPay();
            initAudio();
            // $('<style>.recordMore:after{content:'';display: inline-block;width: .6rem;height: .6rem;line-height: .6rem;background-color: #f31e66;color: #fff;border-radius: 50%;text-align: center;margin-left: .1rem;}</style>').appendTo('head');
            $("<style>.recordMore:after{content:[[${record.size()}]];display: inline-block;width: .6rem;height: .6rem;line-height: .6rem;background-color: #f31e66;color: #fff;border-radius: 50%;text-align: center;margin-left: .1rem;}</style>").appendTo('head');
            $('<style>.voiceMore:after{content:[[${voice.size()}]];display: inline-block;width: .6rem;height: .6rem;line-height: .6rem;background-color: #f31e66;color: #fff;border-radius: 50%;text-align: center;margin-left: .1rem;}</style>').appendTo('head');
            console.log('access successful record and message');
            $(".record").removeClass("record").addClass("recordOther");
            $(".voice").removeClass("record").addClass("recordOther");

        });
          $(".z_disturboff").click(function(){
              $(this).hide();
              $(".f_numberdetail").show();
              $(".f_opendisturb").show();
          });
          $(".f_detailcofirm a:eq(0)").click(function(){
              $(".f_opendisturb").hide();
              $(".z_disturboff").show();
              $(".z_disturbon").hide();
          });
          $(".z_disturbon").click(function(){
              $(this).hide();
              $(".z_disturboff").show();
              changeRelationOff();

          });
          $(".tb_overflay").click(function(){
              $(".f_opendisturb").hide();
              $(".z_disturboff").show();
              $(".z_disturbon").hide();
          });
          $(".z_numberrequire a").click(function(){
              console.log('number delay is click!');
              $(".f_dayscontent ul li:eq(0)").trigger('click');
              console.log('f_dayscontent is click!');
              $(".f_selectdays").show();
          });
        function  initAudio(){
            $(".mes").click(function(){
                var player = $(this).next()[0]; /*jquery对象转换成js对象*/
                player.loop= false;
                if (player.paused){ /*如果已经暂停*/
                    player.play(); /*播放*/
                }else {
                    player.pause();/*暂停*/
                }
                player.addEventListener('ended', function () {
                    player.load();
                    //player.play();
                }, false);
            });

        }



        function changeRelation(){
            var a = $("input[name='disturb']:checked").val();
            var  data={
                uidNumber:$(".uidNumber").text(),
                restrict:a
            };
            console.log("data restrict is :"+a);
            changeAjax(data);
            $(".f_opendisturb").hide();
            if(resultChange=="changeSuccess"){
                $(".z_disturboff").hide();
                $(".z_disturbon").show();
            }else{
                $(".z_disturboff").show();
                $(".z_disturbon").hide();
            }
        }

          function  changeAjax(obj){
              $.ajax({
                  url:"/changeRelationMethod",
                  type:"POST",
                  data:obj,
                  dataType:"JSON",
                  success:function (result){
                   if(result.code==200){
                       console.log("change success");
                       resultChange="changeSuccess";
                       console.log("ajax result:"+resultChange);
                   }else{
                       console.log("change fail");
                       resultChange="changeFail";
                       console.log("ajax result:"+resultChange);
                   }
                  }
              })
          }
        function  changeRelationOff(){
            var  data={
                uidNumber:$(".uidNumber").text(),
                restrict:"0"
            };
            changeAjax(data);
            if(resultChange=="changeSuccess"){
                console.log("resultChange result is"+resultChange);
                $(".z_disturboff").show();
                $(".z_disturbon").hide();
            }else{
                console.log("resultChange result is"+resultChange);
                $(".z_disturboff").hide();
                $(".z_disturbon").show();
            }
        }
         function  toCallList(obj){
            var number=obj.prev().text();
            console.log("number is"+number);
            if(number==0||number=="无"){
                alert("没有通话记录!");
                return ;
            }
             window.location.href="/CallRecord.html?number="+obj.prev().text();
         }
         function  toMessageList(obj){
             var number=obj.prev().text();
             if(number==0||number=="无"){
                 alert("没有留言记录!");
                 return ;
             }
             window.location.href="/VoiceRecord.html?number="+obj.prev().text();
         }

          function  initialPay(){
              $(".fastPay").click(function(){
                  if (clicktag == 0) {  //判断标志
                      clicktag = 1;   //进行标志，防止多次点击
                      setTimeout(function () { clicktag = 0 }, 4000);
                      var val = $("#Area").text();
                      var days = $("#validDays").text();
                      var phone = $(".userPhone").text();
                      var uidNumber = $(".uidNumber").text();
                      var productId = $("#productId").text();
                      var pay = {};
                      pay.openid = openid;
                      pay.totalFee = val;
                      pay.phone = phone;
                      pay.extend = 1;
                      pay.days = days;
                      pay.uidNumber = uidNumber;
                      pay.productId = productId;
                      console.log("pay" + JSON.stringify(pay));
                      var json = payUtil.payOrder(pay);//1表示延期
                      if (json.code != 200) {
                          alert(json.msg);
                          return;
                      } else {
                          json = json.data;
                      }
                      if (typeof WeixinJSBridge == "undefined") {
                          if (document.addEventListener) {
                              document.addEventListener('WeixinJSBridgeReady', onBridgeReady(json), false);
                          } else if (document.attachEvent) {
                              document.attachEvent('WeixinJSBridgeReady', onBridgeReady(json));
                              document.attachEvent('onWeixinJSBridgeReady', onBridgeReady(json));
                          }
                      } else {
                          onBridgeReady(json)
                      }
                  }
              });
          }
          /** 微信支付  start **/
          function onBridgeReady(json){
              WeixinJSBridge.invoke(
                  'getBrandWCPayRequest',json,
                  function(res){
                      if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                          window.location.href="/oauth/admin/OwnerSafeNumber.html?"+Math.random()*10;
                      }else {
                          //console.log(res.err_msg);
                          // window.location.href="/oauth/admin/OwnerSafeNumber.html?"+Math.random()*10;
                          // window.location.reload();
                      }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                  }
              );
          }
      </script>
    </body>     
</html>