<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8"/>
        <meta name="Description" content="通话记录" />
        <title>通话记录</title>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>
      <div class="wrap f_addtelwrap">         
          <div class="f_messagelist">
            <img src="images/message_03.png"/>
            <span class="z_messagenumber" th:text="${smbms}">950135901234785</span>
            <span class="z_telmessage">呼入呼出的通话记录</span>
          </div>
          <div class="f_telmessagelist">
            <ul>
              <li  th:each="record:${records}">
                 <dl>
                     <dd>
                         <!--<a   th:href="'tel:'+${isEmpty==1?'0':'95013'+record.childNumberRecordNotHide}"><img src="images/call_02.png"/></a>-->
                         <img src="images/call_02.png"/>
                     </dd>
                     <dd>
                         <!--隐藏4位-->
                          <!--<span th:text="${record.childNumber}"></span><br/>呼入&nbsp;&nbsp;通话时长：<span th:text="${record.duration}"></span>-->
                         <span th:text="${record.childNumberRecordNotHide}"></span><br/>呼入&nbsp;&nbsp;通话时长：<span th:text="${record.duration}"></span>
                     </dd>
                     <dd>
                           <span th:text="${record.recordDate}"></span><br/><span th:text="${record.recordTime}"></span>
                     </dd>
                 </dl>
              </li>
            </ul>
          </div>
      </div>


    </body>     
</html>