<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8"/>
        <meta name="Description" content="电话留言" />
        <title>电话留言</title>       
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>
      <div class="wrap f_addtelwrap">         
          <div class="f_messagelist">
            <img src="images/message_03.png"/>
            <span class="z_messagenumber" th:text="${smbms}">778895901234785</span>
            <span class="z_telmessage">接收到的电话留言</span>
          </div>
          <div class="f_telmessagelist">
            <ul>

              <li th:each="voice:${voices}">
                  <div class="z_telmessageleft">
                      <!--隐藏4位的手机号-->
                      <!--<span>来自：<span th:text="${voice.childNumber}"></span></span>&nbsp;&nbsp;<span th:text="${voice.duration}"></span>”<br />-->
                      <span>来自：<span th:text="${voice.childA}"></span></span>&nbsp;&nbsp;<span th:text="${voice.duration}"></span>”<br />
                      <span th:text="${voice.recordDate}"></span>
                  </div>
                  <div class="z_telmessageright">
                      <span>
                          <img class="mes" src="images/message_07.png" />
                            <audio>
                                <source th:src="${voice.voicePath}"/>
                            </audio>
                          <br />收听</span>
                      <span>
                          <a th:href="'tel:'+'77889'+${voice.childA}"><img src="images/message_09.png" /><br />拨打</a>
                      </span>
                  </div>
              </li>
            </ul>
          </div>
      </div>
      <script th:inline="javascript">
          $(function(){
              $(".mes").click(function(){
                  var player = $(this).next()[0]; /*jquery对象转换成js对象*/
                  player.loop= false;
                  if (player.paused){ /*如果已经暂停*/
                      player.play(); /*播放*/
                  }else {
                      player.pause();/*暂停*/
                  }
                  player.addEventListener('ended', function () {
                      player.load();
                      //player.play();
                  }, false);
              });
          });
      </script>


    </body>     
</html>