<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8"/>
        <meta name="Description" content="意见反馈" />
        <title>意见反馈</title>       
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" type="text/css" href="../css/safenumber.css" />
        <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../js/safenumber.js"></script>
        <script type="text/javascript" src="../js/flexible.js"></script>
        <script type="text/javascript" src="../js/flexible_css.js"></script>
       
    </head>
    <body>
      <div class="wrap f_404wrap" style="height: 100%;">
          <div class="f_suggest_taocan">
            <span>问题类型</span>
            <ul>
              <li class="f_suggest_active" value="1">注册</li>
              <li value="2">通信</li>
              <li value="3">购买</li>
              <li value="4">建议</li>
                <li value="5">其它</li>
            </ul>
          </div> 

          <div class="f_suggest_content">
            <ul>
              <li>
                <span>意见反馈：</span>
                <textarea id="textArea" placeholder="我们将为您不断改进！" rows="5"></textarea>
              </li>
            </ul>
          </div>

          <div style="margin-top:-1.5rem;">

              <p class="f_bindsuc_share">
                <a href="javascript:commitMessage();">确认</a>
              </p>
              <p class="f_bindsuc_sharebj" style="display: none">填充背景色</p>
              <p style="margin:1rem auto 0;text-align: center;">
                  <a href="tel:95013588" style="border: 1px solid #096fe3;width:9rem;border-radius: .6rem;margin:0 auto;text-align: center;display: block;padding: .3rem 0;color:#2f89ef;font-size:.5rem;">联系客服</a>
              </p>
          </div>
      </div>
        <script th:inline="javascript" >
            openid=[[${user.openid}]];
            function commitMessage(){
                 var  type=$(".f_suggest_taocan ul").children(".f_suggest_active").val();
                 var  textArea=$("#textArea").val();
                 if(textArea==''){
                     alert("留言不能为空。");
                 }else{
                     $.ajax({
                         url:'/commitMessage',
                         contentType:'application/json',
                         data:{type:type,textArea:textArea,openidKey:openid},
                         dataType:'JSON'
                     }).done(function(result){
                         if(result.code==200){
                             window.location.href="/complain.html";
                         }else{
                             alert("留言提交失败，请于客服联系。")
                         }
                     })
                 }

            }
        </script>


    </body>     
</html>