<!DOCTPYE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="Description" content="用户协议" />
        <title>用户协议</title>       
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"> 
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>
       
    </head>
    <body>
      <div class="wrap f_userprotocol">         
         <h1 class="f_userpro_title">一、总则</h1>
         <p class="f_userpro_list">1.1 安全号的所有权和运营权归北京天舟通信有限公司所有。</p>
         <p class="f_userpro_list">1.2 用户在注册之前，应当仔细阅读本协议，并同意遵守本协议后方可成为注册用户。一旦注册成功，则用户与安全号之间自动形成协议关系，用户应当受本协议的约束。用户在使用特殊的服务或产品时，应当同意接受相关协议后方能使用。</p>
         <p class="f_userpro_list">1.3 本协议则可由安全号随时更新，用户应当及时关注并同意本站不承担通知义务。本站的通知、公告、声明或其它类似内容是本协议的一部分。</p>

         <h1 class="f_userpro_title">二、服务内容</h1>
         <p class="f_userpro_list">2.1 安全号的具体内容由本站根据实际情况提供。</p>
         <p class="f_userpro_list">2.2 本站仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机、及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。</p>

         <h1 class="f_userpro_title">三、用户帐号</h1>
         <p class="f_userpro_list">3.1 经本站注册系统完成注册程序并通过身份认证的用户即成为正式用户，可以获得本站规定用户所应享有的一切权限；未经认证仅享有本站规定的部分会员权限。安全号有权对会员的权限设计进行变更。</p>
      </div>
    </body>     
</html>