<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <meta charset="utf-8" />
        <meta name="Description" content="失败" />
        <title>失败</title>       
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta name="App-Config" content="fullscreen=yes,userHistoryState,transition=yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" type="text/css" href="css/safenumber.css" />
       <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/flexible.js}"></script>
       <script type="text/javascript" th:src="@{/js/flexible_css.js}"></script>

       
    </head>
    <body>
      <div class="wrap">         
          <div class="f_notallowimg">
            <img src="images/wrong_03.png"/>
          </div>
          <p class="f_notallow_tel">购买咕咕失败，我们会尽快处理！</p>
          <p class="f_notallow_question">如有问题，请<a href="tel:77889588">联系客服</a></p>
          <p class="f_bindsuc_share f_notallow_validate">
            <a href="tel:77889588">联系客服</a>
          </p>
          <!--<p class="f_bindsuc_sharebj"></p>-->
      </div>
    </body>
    <script language="javascript">
        //stop backup
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
</html>